# People Report Data

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

In [2]:
engine_2 = create_engine('mysql+mysqlconnector://ili:f9FqFe93htPT13nzx@humi-data-agg.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/test')

## Women in workforce

### % of gender distribution in terminations 2019, 2020, 2021

In [3]:
employees_query = "select id as employee_id, company_id, created_at, hired_at, terminated_on, deleted_at, legal_sex, job_id from employees \
where company_id != 2 and \
company_id != 52 and company_id != 120 and company_id != 608 and company_id != 710 \
and company_id != 1274 and hired_at > '1900-01-01'"
employees = pd.read_sql_query(employees_query, con=engine)

In [4]:
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)

In [5]:
employees = employees.merge(company_bad_re, how="left",on="company_id")
employees = employees[employees['c_deleted'].isna()]
employees.loc[employees['terminated_on'].isna()==False,'deleted_at'] = np.nan

In [7]:
# live employees (hired - deleted - terminated)

In [8]:
#2019 live employees
employees_2019 = employees[employees['hired_at']<'2019-12-31 23:59:59']

employees_2019.loc[((employees_2019['terminated_on'].isna())&(employees_2019['deleted_at'].isna())|
                   (employees_2019['terminated_on']>'2019-12-31 23:59:59')
                   |(employees_2019['deleted_at']>'2029-12-31 23:59:59')),"live data"] = True
employees_2019 = employees_2019[employees_2019['live data'] == True]
employees_2019_gender = employees_2019.dropna(subset=['legal_sex'])
employees_2019_gender.groupby(["legal_sex"],as_index=False).size()

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

  legal_sex   size
0                1
1         F  14495
2         M  16834
3         P   1950
4         X      9

In [9]:
employees_2020 = employees[employees['hired_at']<'2020-12-31 23:59:59']

employees_2020.loc[((employees_2020['terminated_on'].isna())&(employees_2020['deleted_at'].isna())|
                   (employees_2020['terminated_on']>'2020-12-31 23:59:59')
                   |(employees_2020['deleted_at']>'2020-12-31 23:59:59')),"live data"] = True
employees_2020 = employees_2020[employees_2020['live data'] == True]
employees_2020_gender = employees_2020.dropna(subset=['legal_sex'])
employees_2020_gender.groupby(["legal_sex"],as_index=False).size()

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

  legal_sex   size
0                1
1         F  18349
2         M  21375
3         P   2024
4         X     12

In [10]:
employees_2021 = employees[employees['hired_at']<'2021-12-31 23:59:59']

employees_2021.loc[((employees_2021['terminated_on'].isna())&(employees_2021['deleted_at'].isna())|
                   (employees_2021['terminated_on']>'2021-12-31 23:59:59')
                   |(employees_2021['deleted_at']>'2021-12-31 23:59:59')
                   ),"live data"] = True
employees_2021 = employees_2021[employees_2021['live data'] == True]
employees_2021_gender = employees_2021.dropna(subset=['legal_sex'])
employees_2021_gender.groupby(["legal_sex"],as_index=False).size()

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

  legal_sex   size
0                2
1         F  22114
2         M  24898
3         P   1851
4         X     34

In [11]:
employees_terminated_byyear = employees[employees["terminated_on"]>"2018-12-31 23:59:59"]
employees_terminated_byyear = employees_terminated_byyear.astype({'terminated_on':str})
employees_terminated_byyear.terminated_on = employees_terminated_byyear.terminated_on.str[0:4]

In [12]:
#terminated employees in 2019-2021
employees_terminated_byyear.pivot_table(index="terminated_on", columns = "legal_sex", values = "employee_id",aggfunc="count")

legal_sex           F       M      P    X
terminated_on
2019           1592.0  1803.0  421.0  NaN
2020           3657.0  4180.0  485.0  NaN
2021           4451.0  5692.0  509.0  5.0

### % of gender distribution in terminations by month in 2020, 2021

In [13]:
#employee dynamics by month by gender

In [14]:
employees_hired = employees[employees['hired_at']>'2019-12-31 23:59:59']
employees_hired=employees_hired.astype({'hired_at': str})
employees_hired.hired_at = employees_hired.hired_at.str[0:7]
employees_hired.pivot_table(index="hired_at", columns = "legal_sex", values = "employee_id",aggfunc="count")

legal_sex            F       M     P    X
hired_at
2020-01    NaN   682.0   771.0  80.0  1.0
2020-02    NaN   502.0   532.0  55.0  NaN
2020-03    NaN   495.0   548.0  24.0  NaN
2020-04    NaN   326.0   515.0  22.0  NaN
2020-05    NaN   402.0   555.0  35.0  NaN
2020-06    NaN   566.0   673.0  45.0  NaN
2020-07    NaN   674.0   817.0  61.0  1.0
2020-08    NaN   809.0   831.0  65.0  NaN
2020-09    NaN   889.0   995.0  48.0  1.0
2020-10    NaN   799.0   844.0  58.0  NaN
2020-11    NaN   791.0  1002.0  54.0  NaN
2020-12    NaN   538.0   556.0  38.0  NaN
2021-01    NaN  1000.0  1227.0  60.0  4.0
2021-02    NaN   828.0   922.0  63.0  2.0
2021-03    NaN  1149.0  1220.0  80.0  2.0
2021-04    NaN   987.0  1095.0  40.0  3.0
2021-05    1.0  1404.0  1551.0  53.0  4.0
2021-06    NaN  1210.0  1401.0  63.0  6.0
2021-07    NaN  1206.0  1338.0  29.0  5.0
2021-08    NaN   862.0   913.0  17.0  5.0
2021-09    NaN    79.0   103.0   NaN  NaN
2021-10    NaN     1.0     6.0   NaN  NaN
2021-11    NaN     3.0     1.0   NaN  NaN
2021-12    NaN     NaN     2.0   NaN  NaN
2022-01    NaN     1.0     1.0   NaN  NaN
2022-02    NaN     NaN     1.0   NaN  NaN
2022-06    NaN     1.0     NaN   NaN  NaN

In [15]:
# those deleted b/c of company churn

In [16]:
employees_deleted = employees[employees['deleted_at']>'2019-12-31 23:59:59']
employees_deleted=employees_deleted.astype({'deleted_at': str})
employees_deleted.deleted_at = employees_deleted.deleted_at.str[0:7]
employees_deleted.pivot_table(index="deleted_at", columns = "legal_sex", values = "employee_id",aggfunc="count")

legal_sex       F      M     P    X
deleted_at
2020-07       4.0    2.0   5.0  NaN
2020-08      23.0   46.0  27.0  NaN
2020-09      37.0   53.0  10.0  NaN
2020-10      55.0   65.0   3.0  NaN
2020-11      32.0   34.0  15.0  NaN
2020-12      58.0   65.0  14.0  NaN
2021-01      47.0   79.0   5.0  NaN
2021-02      36.0   39.0   6.0  NaN
2021-03     150.0  146.0   8.0  NaN
2021-04      65.0   60.0   7.0  1.0
2021-05      82.0  113.0  19.0  NaN
2021-06      59.0   48.0  12.0  1.0
2021-07      41.0   41.0  11.0  1.0
2021-08      31.0   35.0   1.0  1.0

In [17]:
employees_terminated_bymonth = employees[employees["terminated_on"]>"2019-12-31 23:59:59"]

In [18]:
employees_terminated_bymonth = employees_terminated_bymonth.astype({'terminated_on':str})
employees_terminated_bymonth.terminated_on = employees_terminated_bymonth.terminated_on.str[0:7]

In [19]:
employees_terminated_bymonth.pivot_table(index="terminated_on", columns = "legal_sex", values = "employee_id",aggfunc="count")

legal_sex          F      M      P    X
terminated_on
2020-01        274.0  268.0   76.0  NaN
2020-02        169.0  216.0   33.0  NaN
2020-03        286.0  328.0   92.0  NaN
2020-04        218.0  296.0   46.0  NaN
2020-05        177.0  198.0   25.0  NaN
2020-06        175.0  236.0   24.0  NaN
2020-07        180.0  224.0   17.0  NaN
2020-08        254.0  274.0   31.0  NaN
2020-09        440.0  466.0   36.0  NaN
2020-10        607.0  713.0   41.0  NaN
2020-11        435.0  454.0   33.0  NaN
2020-12        442.0  507.0   31.0  NaN
2021-01        369.0  547.0   37.0  NaN
2021-02        426.0  586.0   24.0  NaN
2021-03        531.0  817.0   29.0  NaN
2021-04        474.0  684.0   25.0  1.0
2021-05        602.0  683.0  225.0  NaN
2021-06        587.0  823.0   91.0  NaN
2021-07        765.0  769.0   42.0  2.0
2021-08        696.0  783.0   36.0  2.0
2021-09          1.0    NaN    NaN  NaN

### % of C-Suite positions held by women

In [20]:
jobs_query = "select id, company_id, title from jobs where deleted_at is null"
jobs = pd.read_sql_query(jobs_query, con=engine)
jobs_df = jobs.copy()

In [21]:
jobs_df = jobs_df.rename(columns={"id":"job_id"})

In [22]:
combined = employees.merge(jobs_df, how="left", on = "job_id")

In [23]:
combined_df = combined.copy()

In [24]:
import re

In [25]:
combined_df['title'] = combined_df['title'].str.extract(r'(chief)', re.IGNORECASE)

In [26]:
a = combined_df.dropna(subset=['title']).reset_index()

In [27]:
combined_df_2 = combined.copy()

In [28]:
combined_df_2['title'] = combined_df_2['title'].str.extract(r'(\Wc.o$)', re.IGNORECASE)

In [29]:
b = combined_df_2.dropna(subset=['title']).reset_index()

In [30]:
combined_df_3 = combined.copy()

In [31]:
combined_df_3['title'] = combined_df_3['title'].str.extract(r'(^c.o$)', re.IGNORECASE)

In [32]:
c = combined_df_3.dropna(subset=['title']).reset_index()

In [33]:
combined_df_4 = combined.copy()
combined_df_4['title'] = combined_df_4['title'].str.extract(r'(^c.o\W)', re.IGNORECASE)
d = combined_df_4.dropna(subset=['title'])

In [34]:
result = pd.concat([a,b,c,d],ignore_index=True)

In [67]:
#total c-suite 2020
result_2020 = result[result['hired_at']<'2020-12-31 23:59:59']

result_2020.loc[((result_2020['terminated_on'].isna())&(result_2020['deleted_at'].isna())|
                   (result_2020['terminated_on']>'2020-12-31 23:59:59')
                   |(result_2020['deleted_at']>'2020-12-31 23:59:59')),"live data"] = True
result_2020 = result_2020[result_2020['live data'] == True]
result_2020['employee_id'].count()

1560

In [68]:
#total c-suite 2021
result_2021 = result[result['hired_at']<'2021-12-31 23:59:59']

result_2021.loc[((result_2021['terminated_on'].isna())&(result_2021['deleted_at'].isna())|
                   (result_2021['terminated_on']>'2021-12-31 23:59:59')
                   |(result_2021['deleted_at']>'2021-12-31 23:59:59')),"live data"] = True
result_2021 = result_2021[result_2021['live data'] == True]
result_2021['employee_id'].count()

1658

In [37]:
Female_leader_2021 = result_2021[result_2021['legal_sex']=="F"]

In [69]:
#woman c-suite 2021
Female_leader_2021['employee_id'].count()

308

In [39]:
Female_leader_2020 = result_2020[result_2020['legal_sex']=="F"]

In [70]:
#woman c-suite 2020
Female_leader_2020['employee_id'].count()

296

### How female leadership impacts gender distribution in companies

In [41]:
combined_2020 = combined[combined['hired_at']<'2020-12-31 23:59:59']

combined_2020.loc[((combined_2020['terminated_on'].isna())&(combined_2020['deleted_at'].isna())|
                   (combined_2020['terminated_on']>'2020-12-31 23:59:59')
                   |(combined_2020['deleted_at']>'2020-12-31 23:59:59')),"live data"] = True
combined_2020 = combined_2020[combined_2020['live data'] == True]

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [42]:
combined_2021 = combined[combined['hired_at']<'2021-12-31 23:59:59']

combined_2021.loc[((combined_2021['terminated_on'].isna())&(combined_2021['deleted_at'].isna())|
                   (combined_2021['terminated_on']>'2021-12-31 23:59:59')
                   |(combined_2021['deleted_at']>'2021-12-31 23:59:59')),"live data"] = True
combined_2021 = combined_2021[combined_2021['live data'] == True]

In [43]:
combined_2020.loc[(combined_2020['company_id_x'].isin(Female_leader_2020['company_id_x'])),"all C-Suite"] = True

In [44]:
combined_2021.loc[(combined_2021['company_id_x'].isin(Female_leader_2021['company_id_x'])),"all C-Suite"] = True

In [45]:
Female_company_2020 = combined_2020.loc[combined_2020['all C-Suite'] == True]

In [46]:
Female_company_2021 = combined_2021.loc[combined_2021['all C-Suite'] == True]

In [47]:
#employee counts in company with female c-suite 2021
Female_company_2021["legal_sex"].value_counts()

F    5997
M    5077
P     320
X       8
Name: legal_sex, dtype: int64

In [48]:
#employee counts in company with female c-suite 2020
Female_company_2020["legal_sex"].value_counts()

F    5042
M    4189
P     522
X       3
Name: legal_sex, dtype: int64

In [49]:
Male_company_2020 = combined_2020.loc[combined_2020['all C-Suite'] != True]

In [50]:
Male_company_2021 = combined_2021.loc[combined_2021['all C-Suite'] != True]

In [51]:
#employee counts in company without female c-suite 2021
Male_company_2021["legal_sex"].value_counts()

M    19821
F    16117
P     1531
X       26
         2
Name: legal_sex, dtype: int64

In [52]:
#employee counts in company without female c-suite 2020
Male_company_2020["legal_sex"].value_counts()

M    17186
F    13307
P     1502
X        9
         1
Name: legal_sex, dtype: int64

### Gender distribution by province 2021

join address, company and employee datasets

In [53]:
# address_query = "select id, `province` from addresses \
# where `deleted_at` is NULL and country = 'Canada'"
# address = pd.read_sql_query(address_query, con=engine)
# address = address.rename(columns={"id":"address_id"})
# address = address.astype({"address_id": str})

In [54]:
company_query = "select id, primary_address_id,industry from companies where deleted_at is null and is_locked = '0'"
company = pd.read_sql_query(company_query, con=engine)
company = company.rename(columns={"id":"company_id","primary_address_id":"address_id"})
company = company.astype({"company_id":str,"address_id":str})
company['address_id'] = company.apply(lambda x:x['address_id'].split('.')[0], axis=1)

In [55]:
employee_query = "select id, company_id, legal_sex, account_id from employees \
where deleted_at is null and terminated_on is null and legal_sex is not null"
employee = pd.read_sql_query(employee_query, con=engine)
employee = employee.rename(columns={"id":"employee_id"})
employee = employee.astype({"company_id": str,"employee_id":str})

In [56]:
#company_address = company.merge(address, how = "left", on = "address_id")

In [57]:
#employee_address = employee.merge(company_address, how = "left", on = "company_id")

In [58]:
#employee_address.groupby(["legal_sex","province"],as_index=False)["account_id"].nunique()

### % of women in the tech workforce 2021

In [59]:
company_df = company.copy()

In [60]:
company_df['industry'] = company_df['industry'].str.extract(r'(software|information|^tech|^it|Cyber|internet|gam)',re.IGNORECASE)

In [61]:
company_df = company_df.dropna(subset=['industry']).reset_index()

In [62]:
company_df_employee = employee.merge(company_df, how = "left", on = "company_id" ).dropna(subset=['industry']).reset_index()

In [63]:
company_df_employee.groupby(["legal_sex"],as_index=False)["account_id"].nunique()

  legal_sex  account_id
0         F        7811
1         M        9508
2         P         489
3         X          12

### % of termination due to covid

In [64]:
total_termination_query = "select count(termination_comments) from terminations \
where termination_comments is not null and terminated_at between '2018-12-31 23:59:59' and '2021-12-31 23:59:59' \
group by year(terminated_at) order by terminated_at"
pd.read_sql_query(total_termination_query,con=engine)

   count(termination_comments)
0                          142
1                         9498
2                        12622

In [65]:
covid_termination_query = "select count(termination_comments),terminated_at from terminations \
where termination_comments like '%covid%' \
and terminated_at between '2018-12-31 23:59:59' and '2021-12-31 23:59:59' \
group by year(terminated_at) order by terminated_at"
pd.read_sql_query(covid_termination_query,con=engine)

   count(termination_comments) terminated_at
0                          676    2020-04-14
1                          496    2021-01-11