# People Report Data

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

## Employee time off

In [2]:
#Employee data

In [3]:
employees_query = "select id as employee_id, company_id, created_at, hired_at, terminated_on, deleted_at, legal_sex, employment_type from employees \
where company_id != 2 and \
company_id != 52 and company_id != 120 and company_id != 608 and company_id != 710 \
and company_id != 1274 and hired_at > '1900-01-01'"
employees = pd.read_sql_query(employees_query, con=engine)

In [4]:
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)

In [5]:
employees = employees.merge(company_bad_re, how="left",on="company_id")
employees = employees[employees['c_deleted'].isna()]
employees.loc[employees['terminated_on'].isna()==False,'deleted_at'] = np.nan

### Total Requests 2019-2021

In [6]:
time_off_request_query ="select id, employee_id, time_off_policy_id, start_at, end_at-start_at+1 as days, description \
from time_off_requests where `deleted_at` is null and `start_at`>'2018-12-31 23:59:59' and status!='denied'"
time_off_request = pd.read_sql_query(time_off_request_query, con=engine)

In [7]:
time_off_request = time_off_request.astype({"employee_id": str,"start_at": str})

In [8]:
time_off_request_query_2 ="select user_id as employee_id, leave_type_id, start_at,description, number_of_days_away \
from pto_user_requests where `deleted_at` is null and `start_at`>'2018-12-31 23:59:59'and denied is null"
time_off_request_2 = pd.read_sql_query(time_off_request_query_2, con=engine)

In [9]:
time_off_request_2["start_at"] = time_off_request_2["start_at"].apply(lambda x: x.strftime('%Y-%m-%d'))

In [10]:
time_off_request_2 = time_off_request_2.astype({"employee_id": str,"start_at": str})

In [11]:
time_off_request['unique_id'] = time_off_request['employee_id'] + " - " + time_off_request["start_at"]

In [12]:
time_off_request_2['unique_id'] = time_off_request_2['employee_id'] + " - " + time_off_request_2["start_at"]

In [13]:
time_off_request_2['exists'] = time_off_request_2['unique_id'].isin(time_off_request['unique_id'])
time_off_request_2 = time_off_request_2[time_off_request_2['exists'] == False].drop(['exists'],axis=1)

In [14]:
time_off_request.start_at = time_off_request.start_at.str[0:7]

In [15]:
employees_full_time = employees[employees['employment_type']=='full-time']
employees_full_time = employees_full_time.astype({"employee_id": str})

In [16]:
time_off_request['full-time'] = time_off_request['employee_id'].isin(employees_full_time['employee_id'])
time_off_request = time_off_request[time_off_request['full-time'] == True]

In [17]:
time_off_request_2.start_at = time_off_request_2.start_at.str[0:7]

In [18]:
time_off_request_2['full-time'] = time_off_request_2['employee_id'].isin(employees_full_time['employee_id'])
time_off_request_2 = time_off_request_2[time_off_request_2['full-time'] == True]

In [19]:
time_off_request.groupby("start_at",as_index=False).size()

   start_at   size
0   2019-01   3606
1   2019-02   3365
2   2019-03   3772
3   2019-04   3953
4   2019-05   4481
5   2019-06   4961
6   2019-07   5924
7   2019-08   6817
8   2019-09   5158
9   2019-10   5865
10  2019-11   6190
11  2019-12  10313
12  2020-01   9087
13  2020-02   7936
14  2020-03   7801
15  2020-04   4923
16  2020-05   5458
17  2020-06   6856
18  2020-07  10692
19  2020-08  10815
20  2020-09   9170
21  2020-10   9581
22  2020-11  10589
23  2020-12  17657
24  2021-01   8288
25  2021-02  10766
26  2021-03  13854
27  2021-04  14006
28  2021-05  14976
29  2021-06  18191
30  2021-07  25608
31  2021-08  22037
32  2021-09   6202
33  2021-10   2093
34  2021-11   1189
35  2021-12   2202
36  2022-01    163
37  2022-02     81
38  2022-03     64
39  2022-04     26
40  2022-05     27
41  2022-06     17
42  2022-07     24
43  2022-08     10
44  2022-09      2
45  2022-10      3
46  2022-11      2
47  2022-12      5
48  2023-04      1
49  2023-08      2
50  2024-08      2
51  2024-11      1

In [20]:
time_off_request_2.groupby("start_at",as_index=False).size()

   start_at  size
0   2019-01   674
1   2019-02   708
2   2019-03   812
3   2019-04   795
4   2019-05   918
5   2019-06  1073
6   2019-07  1254
7   2019-08  1491
8   2019-09  1128
9   2019-10  1235
10  2019-11  1213
11  2019-12  1880
12  2020-01  1139
13  2020-02   812
14  2020-03   910
15  2020-04   343
16  2020-05   445
17  2020-06   545
18  2020-07   854
19  2020-08   798
20  2020-09   564
21  2020-10   455
22  2020-11   438
23  2020-12   716
24  2021-01   101
25  2021-02    74
26  2021-03    68
27  2021-04    26
28  2021-05    34
29  2021-06    30
30  2021-07    29
31  2021-08    20
32  2021-09    12
33  2021-10     4
34  2021-11     2
35  2021-12    11

### employees live

In [21]:
#employee dynamics by month

In [22]:
employees_flive = employees[employees['employment_type']=='full-time']
employees_onboarded = employees_flive[employees_flive['created_at']>'2018-12-31 23:59:59']
employees_onboarded=employees_onboarded.astype({'created_at': str})

In [23]:
#onboarded employees
employees_onboarded.created_at = employees_onboarded.created_at.str[0:7]
employees_onboarded.groupby('created_at', as_index=False).size()

   created_at  size
0     2019-01  1989
1     2019-02   656
2     2019-03   906
3     2019-04   864
4     2019-05  2087
5     2019-06   838
6     2019-07  1087
7     2019-08   768
8     2019-09  1111
9     2019-10  1142
10    2019-11  1037
11    2019-12  1078
12    2020-01  1416
13    2020-02   806
14    2020-03  1285
15    2020-04  1384
16    2020-05  1329
17    2020-06  1356
18    2020-07  1628
19    2020-08  1428
20    2020-09  2503
21    2020-10  2786
22    2020-11  3110
23    2020-12  2773
24    2021-01  2443
25    2021-02  2611
26    2021-03  2952
27    2021-04  3569
28    2021-05  3360
29    2021-06  3456
30    2021-07  3786
31    2021-08  2393

In [24]:
employees_terminated = employees_flive[employees_flive['terminated_on'].isna() == False]
employees_terminated = employees_terminated[employees_terminated['terminated_on']>'2018-12-31 23:59:59']
employees_deleted = employees_flive[employees_flive['deleted_at'].isna() == False]
employees_deleted = employees_deleted[employees_deleted['deleted_at']>'2018-12-31 23:59:59']

In [25]:
employees_terminated=employees_terminated.astype({'terminated_on': str})
employees_terminated.terminated_on = employees_terminated.terminated_on.str[0:7]

employees_deleted=employees_deleted.astype({'deleted_at': str})

employees_deleted.deleted_at = employees_deleted.deleted_at.str[0:7]

In [26]:
#terminated employees
employees_terminated.groupby('terminated_on', as_index=False).size()

   terminated_on  size
0        2019-01   237
1        2019-02   169
2        2019-03   228
3        2019-04   238
4        2019-05   337
5        2019-06   295
6        2019-07   267
7        2019-08   368
8        2019-09   330
9        2019-10   309
10       2019-11   379
11       2019-12   244
12       2020-01   380
13       2020-02   364
14       2020-03   427
15       2020-04   410
16       2020-05   287
17       2020-06   310
18       2020-07   294
19       2020-08   396
20       2020-09   681
21       2020-10  1089
22       2020-11   884
23       2020-12   765
24       2021-01   764
25       2021-02   807
26       2021-03  1031
27       2021-04  1014
28       2021-05  1168
29       2021-06  1060
30       2021-07   979
31       2021-08   998

In [27]:
#deleted employees
employees_deleted.groupby('deleted_at', as_index=False).size()

   deleted_at  size
0     2019-01    54
1     2019-02   100
2     2019-03    63
3     2019-04   181
4     2019-05   125
5     2019-06   195
6     2019-07    98
7     2019-08    51
8     2019-09    70
9     2019-10   328
10    2019-11   271
11    2019-12    39
12    2020-01   212
13    2020-02   252
14    2020-03    78
15    2020-04   162
16    2020-05    31
17    2020-06    97
18    2020-07   114
19    2020-08    89
20    2020-09   101
21    2020-10   160
22    2020-11   163
23    2020-12   160
24    2021-01   160
25    2021-02   111
26    2021-03   324
27    2021-04   217
28    2021-05   272
29    2021-06   181
30    2021-07   209
31    2021-08   104

### Request days

In [28]:
time_off_request_days = "select default_amount, date, time_off_request_id as id from time_off_request_days \
where `date`>'2018-12-31 23:59:59' and deleted_at is null"
time_off_request_days = pd.read_sql_query(time_off_request_days, con=engine)

In [29]:
time_off_request_days['full-time'] = time_off_request_days['id'].isin(time_off_request['id'])
time_off_request_days = time_off_request_days[time_off_request_days['full-time'] == True]

In [30]:
time_off_request_days = time_off_request_days.astype({"date": str}) 
time_off_request_days.date = time_off_request_days.date.str[0:7]

In [31]:
#request days #1
time_off_request_days.groupby("date", as_index=False)["default_amount"].sum()

       date  default_amount
0   2019-01          6523.0
1   2019-02          6258.0
2   2019-03          7302.0
3   2019-04          6997.0
4   2019-05          8423.0
5   2019-06          8657.0
6   2019-07         13048.0
7   2019-08         15474.0
8   2019-09          9735.0
9   2019-10         10063.0
10  2019-11         10570.0
11  2019-12         18891.0
12  2020-01         16802.0
13  2020-02         14096.0
14  2020-03         16731.0
15  2020-04          9568.0
16  2020-05          8935.0
17  2020-06         11945.0
18  2020-07         20564.0
19  2020-08         22482.0
20  2020-09         16928.0
21  2020-10         15523.0
22  2020-11         16880.0
23  2020-12         37014.0
24  2021-01         15158.0
25  2021-02         16972.0
26  2021-03         22510.0
27  2021-04         22039.0
28  2021-05         23098.0
29  2021-06         30126.0
30  2021-07         49349.0
31  2021-08         52696.0
32  2021-09         19851.0
33  2021-10          7540.0
34  2021-11          4627.0
35  2021-12          8525.0
36  2022-01          1670.0
37  2022-02          1053.0
38  2022-03           924.0
39  2022-04           622.0
40  2022-05           572.0
41  2022-06           429.0
42  2022-07           376.0
43  2022-08           242.0
44  2022-09            96.0
45  2022-10            75.0
46  2022-11            27.0
47  2022-12            43.0
48  2023-01            19.0
49  2023-04            15.0
50  2023-08            16.0
51  2024-08            16.0
52  2024-11             3.0

In [32]:
#request days #2
time_off_request_2.groupby("start_at", as_index=False)["number_of_days_away"].sum()

   start_at  number_of_days_away
0   2019-01              1300.96
1   2019-02              2106.67
2   2019-03              1806.67
3   2019-04              1721.75
4   2019-05              2293.50
5   2019-06              2900.50
6   2019-07              3386.25
7   2019-08              4151.75
8   2019-09              2279.00
9   2019-10              2313.25
10  2019-11              2190.00
11  2019-12              5509.50
12  2020-01              2642.75
13  2020-02              1632.25
14  2020-03              3329.25
15  2020-04              1254.25
16  2020-05               827.25
17  2020-06              1081.50
18  2020-07              1815.25
19  2020-08              1803.25
20  2020-09              1229.50
21  2020-10               779.00
22  2020-11              1220.50
23  2020-12              2402.75
24  2021-01              1029.00
25  2021-02               817.75
26  2021-03               441.25
27  2021-04               159.50
28  2021-05               133.50
29  2021-06               132.50
30  2021-07               141.50
31  2021-08               140.00
32  2021-09                64.00
33  2021-10                71.00
34  2021-11                 2.00
35  2021-12               101.00

### Vacation requests %

In [33]:
time_off_policies_query = "select id, `name` from time_off_policies \
where `name` like '%vacation%'"
time_off_policies = pd.read_sql_query(time_off_policies_query, con=engine)

In [34]:
time_off_request_v = time_off_request.copy()
time_off_request_v.loc[(time_off_request_v['time_off_policy_id'].isin(time_off_policies['id'])),"vacation requests"] = True

In [35]:
vacation_requests_1 = time_off_request_v.loc[time_off_request_v['vacation requests'] == True]

In [36]:
#number of vacation requests #1
vacation_requests_1.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01         1494
1   2019-02         1414
2   2019-03         1615
3   2019-04         1744
4   2019-05         2011
5   2019-06         2441
6   2019-07         3243
7   2019-08         4111
8   2019-09         2272
9   2019-10         2403
10  2019-11         2628
11  2019-12         5978
12  2020-01         3330
13  2020-02         3068
14  2020-03         2594
15  2020-04         2572
16  2020-05         3189
17  2020-06         3834
18  2020-07         6951
19  2020-08         6981
20  2020-09         5128
21  2020-10         5066
22  2020-11         5874
23  2020-12        11797
24  2021-01         3156
25  2021-02         4318
26  2021-03         5371
27  2021-04         5551
28  2021-05         6485
29  2021-06         8132
30  2021-07        14013
31  2021-08        12604
32  2021-09         4304
33  2021-10         1512
34  2021-11          831
35  2021-12         1631
36  2022-01           93
37  2022-02           46
38  2022-03           33
39  2022-04           16
40  2022-05           18
41  2022-06           13
42  2022-07           18
43  2022-08            9
44  2022-09            2
45  2022-10            2
46  2022-11            2
47  2022-12            5
48  2023-08            2
49  2024-08            2

In [37]:
time_off_types_query = "select id, `type_name` from pto_leave_types \
where `type_name` like '%vacation%'"
time_off_types = pd.read_sql_query(time_off_types_query, con=engine)

In [38]:
time_off_request_2_v = time_off_request_2.copy()
time_off_request_2_v.loc[(time_off_request_2_v['leave_type_id'].isin(time_off_types['id'])),"vacation requests"] = True

In [39]:
vacation_requests_2 = time_off_request_2_v.loc[time_off_request_2_v['vacation requests'] == True]

In [40]:
#number of vacation requests #2
vacation_requests_2.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          245
1   2019-02          297
2   2019-03          418
3   2019-04          401
4   2019-05          491
5   2019-06          563
6   2019-07          749
7   2019-08          882
8   2019-09          485
9   2019-10          468
10  2019-11          449
11  2019-12          999
12  2020-01          380
13  2020-02          283
14  2020-03          261
15  2020-04          150
16  2020-05          245
17  2020-06          301
18  2020-07          448
19  2020-08          417
20  2020-09          312
21  2020-10          304
22  2020-11          304
23  2020-12          563
24  2021-01           59
25  2021-02           52
26  2021-03           53
27  2021-04           21
28  2021-05           23
29  2021-06           26
30  2021-07           25
31  2021-08           17
32  2021-09           12
33  2021-10            2
34  2021-11            1
35  2021-12           11

### Sick day requests %

In [41]:
time_off_policies_query_2 = "select id, `name` from time_off_policies \
where `name` like '%sick%'"
time_off_policies_2 = pd.read_sql_query(time_off_policies_query_2, con=engine)

In [42]:
time_off_request_s = time_off_request.copy()
time_off_request_s.loc[(time_off_request_s['time_off_policy_id'].isin(time_off_policies_2['id'])),"sick requests"] = True

In [43]:
#number of sick day requests #1
sick_requests_1 = time_off_request_s.loc[time_off_request_s['sick requests'] == True]
sick_requests_1.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          790
1   2019-02          592
2   2019-03          750
3   2019-04          712
4   2019-05          794
5   2019-06          697
6   2019-07          718
7   2019-08          701
8   2019-09          883
9   2019-10         1009
10  2019-11          988
11  2019-12          996
12  2020-01         1972
13  2020-02         1514
14  2020-03         1419
15  2020-04          617
16  2020-05          677
17  2020-06          905
18  2020-07          954
19  2020-08          980
20  2020-09         1231
21  2020-10         1515
22  2020-11         1560
23  2020-12         1320
24  2021-01         1617
25  2021-02         1659
26  2021-03         2302
27  2021-04         2446
28  2021-05         2412
29  2021-06         2812
30  2021-07         2759
31  2021-08         1860
32  2021-09          141
33  2021-10           24
34  2021-11           13
35  2021-12            9
36  2022-02            1
37  2022-05            1
38  2024-11            1

In [44]:
time_off_types_query_2 = "select id, `type_name` from pto_leave_types \
where `type_name` like '%sick%'"
time_off_types_2 = pd.read_sql_query(time_off_types_query_2, con=engine)

In [45]:
#number of sick day requests #2
time_off_request_2_s = time_off_request_2.copy()
time_off_request_2_s.loc[(time_off_request_2_s['leave_type_id'].isin(time_off_types_2['id'])),"sick requests"] = True
sick_requests_2 = time_off_request_2_s.loc[time_off_request_2_s['sick requests'] == True]
sick_requests_2.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          165
1   2019-02          150
2   2019-03          157
3   2019-04          149
4   2019-05          165
5   2019-06          189
6   2019-07          167
7   2019-08          189
8   2019-09          236
9   2019-10          266
10  2019-11          254
11  2019-12          256
12  2020-01          272
13  2020-02          191
14  2020-03          216
15  2020-04           61
16  2020-05           78
17  2020-06          129
18  2020-07          104
19  2020-08           90
20  2020-09           64
21  2020-10           56
22  2020-11           56
23  2020-12           56
24  2021-01           12
25  2021-02            4
26  2021-03            1
27  2021-04            2
28  2021-05            5
29  2021-06            1
30  2021-07            1
31  2021-08            1

### Vacation requests by province

join address, company, employee and time_off request datasets

In [46]:
# address_query = "select id, `province` from addresses \
# where `deleted_at` is NULL and country = 'Canada'"
# address = pd.read_sql_query(address_query, con=engine)
# address = address.rename(columns={"id":"address_id"})
# address = address.astype({"address_id": str})

In [47]:
# company_query = "select id, primary_address_id from companies where deleted_at is null and is_locked = '0'"
# company = pd.read_sql_query(company_query, con=engine)
# company = company.rename(columns={"id":"company_id","primary_address_id":"address_id"})
# company = company.astype({"company_id":str,"address_id":str})
# company['address_id'] = company.apply(lambda x:x['address_id'].split('.')[0], axis=1)

In [48]:
# employee_query = "select id, company_id from employees where deleted_at is null"
# employee = pd.read_sql_query(employee_query, con=engine)

In [49]:
# employee = employee.rename(columns={"id":"employee_id"})
# employee = employee.astype({"company_id": str,"employee_id":str})

In [50]:
# company_address = company.merge(address, how = "left", on = "address_id")

In [51]:
# employee_address = employee.merge(company_address, how = "left", on = "company_id")

In [52]:
# vacation_requests_1_address = vacation_requests_1.merge(employee_address, how= "left", on="employee_id")

In [53]:
# summer_requests_by_province = vacation_requests_1_address[(vacation_requests_1_address["start_at"]=="2019-06")|
#                                                          (vacation_requests_1_address["start_at"]=="2019-07")|
#                                                          (vacation_requests_1_address["start_at"]=="2019-08")|
#                                                          (vacation_requests_1_address["start_at"]=="2020-06")|
#                                                          (vacation_requests_1_address["start_at"]=="2020-07")|
#                                                          (vacation_requests_1_address["start_at"]=="2020-08")|
#                                                          (vacation_requests_1_address["start_at"]=="2021-06")]
# #as more recent data coming, we should update data from 2021-07, 2021-08 and later ones

In [54]:
# pd.set_option('display.max_rows', 500)

In [55]:
# summer_requests_by_province = summer_requests_by_province.groupby(["start_at","province"],as_index=False).size()
# summer_requests_by_province.pivot(index = "start_at",columns = "province",values = "size")

province      AB      BC     MB    NB    NL     NS      ON     QC     SK
start_at
2019-06     88.0   430.0   77.0   NaN   2.0   82.0  1425.0   51.0  173.0
2019-07    171.0   572.0  121.0   NaN  10.0  128.0  1772.0   68.0  253.0
2019-08    204.0   701.0  112.0   NaN   7.0  139.0  2393.0   77.0  276.0
2020-06    293.0   613.0  141.0   NaN  30.0   77.0  2244.0   74.0  198.0
2020-07    356.0   932.0  167.0   NaN  82.0  192.0  4339.0  126.0  485.0
2020-08    362.0  1018.0  175.0   NaN  67.0  184.0  4382.0  129.0  398.0
2021-06   1023.0  1145.0  136.0  13.0  99.0  199.0  4961.0  215.0  298.0

## Maternity and Paternity Leave

### % change of employees taking maternity leave/paternity leave in 2020 vs. 2021

In [56]:
# import re

In [57]:
# time_off_request_m = time_off_request.copy()
# time_off_request_m = time_off_request.copy()
# time_off_request_m['description']=time_off_request_m["description"].str.extract(r'(Maternity|Paternity)',re.IGNORECASE)
# time_off_request_m = time_off_request_m.dropna(subset=['description']).reset_index()
# time_off_request_m.start_at = time_off_request_m.start_at.str[0:4]
# time_off_request_m.groupby("start_at",as_index=False)["employee_id"].count()

  start_at  employee_id
0     2019           20
1     2020           43
2     2021           49
3     2022            2

In [58]:
# time_off_request_m_2 = time_off_request_2.copy()
# time_off_request_m_2['description']=time_off_request_m_2["description"].str.extract(r'(Maternity|Paternity)',re.IGNORECASE)
# time_off_request_m_2 = time_off_request_m_2.dropna(subset=['description']).reset_index()
# time_off_request_m_2.start_at = time_off_request_m_2.start_at.str[0:4]
# time_off_request_m_2.groupby("start_at",as_index=False)["user_id"].count()

KeyError: 'Column not found: user_id'