# # People Report Data

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

## Generational employee retention

### live employee 2021

In [2]:
employees_query = "select id as employee_id, company_id, born_on, hired_at, terminated_on, deleted_at, legal_sex, job_id from employees \
where company_id != 2 and \
company_id != 52 and company_id != 120 and company_id != 608 and company_id != 710 \
and company_id != 1274 and hired_at > '1900-01-01'"
employees = pd.read_sql_query(employees_query, con=engine)
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)
employees = employees.merge(company_bad_re, how="left",on="company_id")
employees = employees[employees['c_deleted'].isna()]
employees.loc[employees['terminated_on'].isna()==False,'deleted_at'] = np.nan

In [3]:
employees = employees.astype({"born_on":str})
employees.born_on = employees.born_on.str[0:4]

In [4]:
pd.options.display.max_rows = 999

In [5]:
employees.groupby('born_on',as_index=False).size()

    born_on   size
0      0001      5
1      0004      2
2      0006      1
3      0007      2
4      0101      2
5      0160      1
6      0194      1
7      0199      5
8      0201      1
9      1076      1
10     1088      1
11     1111      3
12     1196      1
13     1816      1
14     1864      1
15     1886      1
16     1888      1
17     1893      2
18     1895      1
19     1896      1
20     1899      2
21     1900    746
22     1901      5
23     1909      1
24     1920      1
25     1925      1
26     1927      1
27     1929      2
28     1930      1
29     1931      1
30     1935      2
31     1936      1
32     1937      5
33     1938      3
34     1939      7
35     1940      4
36     1941      5
37     1942      8
38     1943     10
39     1944     15
40     1945     21
41     1946     27
42     1947     46
43     1948     29
44     1949     60
45     1950     62
46     1951     90
47     1952    121
48     1953    140
49     1954    176
50     1955    195
51     1956    280
52     1957    293
53     1958    343
54     1959    374
55     1960    420
56     1961    440
57     1962    475
58     1963    568
59     1964    559
60     1965    594
61     1966    563
62     1967    637
63     1968    686
64     1969    765
65     1970   1204
66     1971    823
67     1972    857
68     1973    895
69     1974    953
70     1975    988
71     1976   1119
72     1977   1186
73     1978   1288
74     1979   1392
75     1980   1534
76     1981   1633
77     1982   1821
78     1983   1840
79     1984   1962
80     1985   2117
81     1986   2272
82     1987   2580
83     1988   2716
84     1989   2831
85     1990   3217
86     1991   3178
87     1992   3389
88     1993   3176
89     1994   3295
90     1995   3097
91     1996   2874
92     1997   2631
93     1998   2335
94     1999   1961
95     2000   1663
96     2001   1069
97     2002    597
98     2003    339
99     2004    218
100    2005    119
101    2006     65
102    2007     25
103    2008     14
104    2009     11
105    2010     22
106    2011     19
107    2012     17
108    2013     39
109    2014     12
110    2015     12
111    2016     16
112    2017     36
113    2018    123
114    2019    348
115    2020    273
116    2021    389
117    2022      8
118    2023      7
119    2024      5
120    2025      1
121    2026      3
122    2027      2
123    2028      6
124    2029      4
125    2030      4
126    2031      2
127    2033      1
128    2037      1
129    2038      2
130    2039      2
131    2040      1
132    2041      1
133    2045      1
134    2046      1
135    2048      3
136    2049      5
137    2050     15
138    2051      1
139    2052      7
140    2053      5
141    2054      6
142    2055     11
143    2056     11
144    2057     10
145    2058      9
146    2059     24
147    2060     24
148    2061     20
149    2062     14
150    2063     20
151    2064     22
152    2065     31
153    2066     22
154    2067     21
155    2068     19
156    2069     25
157    2072      1
158    2076      1
159    2079      1
160    2080      1
161    2081      2
162    2197      1
163    2977      1
164    9991      1
165    None  15847

### new hires generations, and by gender

In [6]:
new_hires_2020 = employees[(employees['hired_at']<'2020-12-31 23:59:59')&(employees['hired_at']>'2019-12-31 23:59:59')]

In [7]:
new_hires_2021 = employees[(employees['hired_at']<'2021-12-31 23:59:59')&(employees['hired_at']>'2020-12-31 23:59:59')]

In [8]:
pd.options.display.max_rows = 999

In [9]:
new_hires_2020.groupby('born_on',as_index=False).size()

    born_on  size
0      0001     2
1      1895     1
2      1899     1
3      1900    20
4      1901     1
5      1935     1
6      1937     1
7      1938     1
8      1942     1
9      1943     1
10     1944     5
11     1945     3
12     1946     5
13     1947     4
14     1949     4
15     1950     9
16     1951    12
17     1952    11
18     1953    18
19     1954    31
20     1955    20
21     1956    38
22     1957    36
23     1958    53
24     1959    58
25     1960    61
26     1961    54
27     1962    77
28     1963    70
29     1964    94
30     1965   112
31     1966    95
32     1967    93
33     1968   130
34     1969   160
35     1970   200
36     1971   169
37     1972   162
38     1973   160
39     1974   209
40     1975   188
41     1976   222
42     1977   230
43     1978   242
44     1979   296
45     1980   296
46     1981   325
47     1982   398
48     1983   379
49     1984   391
50     1985   441
51     1986   499
52     1987   559
53     1988   594
54     1989   610
55     1990   737
56     1991   719
57     1992   792
58     1993   819
59     1994   842
60     1995   814
61     1996   860
62     1997   756
63     1998   642
64     1999   534
65     2000   458
66     2001   297
67     2002   139
68     2003    71
69     2004    67
70     2005    25
71     2006    13
72     2007     4
73     2008     3
74     2009     3
75     2010     5
76     2011     3
77     2012     3
78     2013     2
79     2014     2
80     2016     4
81     2017     4
82     2018     4
83     2019    32
84     2020   141
85     2021    53
86     2022     2
87     2023     2
88     2024     2
89     2025     1
90     2027     1
91     2028     4
92     2030     1
93     2033     1
94     2038     1
95     2045     1
96     2049     3
97     2050     2
98     2052     2
99     2053     1
100    2055     4
101    2056     1
102    2057     1
103    2058     6
104    2059     6
105    2060     6
106    2061     9
107    2062     8
108    2063     6
109    2064     5
110    2065    16
111    2066     8
112    2067     7
113    2068     8
114    2069     5
115    2081     1
116    2977     1
117    None  3129

In [10]:
new_hires_gender_2020 = new_hires_2020.groupby(['born_on','legal_sex'],as_index=False).size()
new_hires_gender_2020.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M      P    X
born_on
0001         NaN    NaN    2.0  NaN
1895         NaN    1.0    NaN  NaN
1900         3.0    5.0   11.0  NaN
1901         NaN    1.0    NaN  NaN
1935         NaN    1.0    NaN  NaN
1937         NaN    1.0    NaN  NaN
1942         NaN    1.0    NaN  NaN
1943         NaN    1.0    NaN  NaN
1944         NaN    3.0    1.0  NaN
1945         NaN    3.0    NaN  NaN
1946         2.0    3.0    NaN  NaN
1947         1.0    2.0    1.0  NaN
1949         NaN    4.0    NaN  NaN
1950         1.0    6.0    1.0  NaN
1951         4.0    8.0    NaN  NaN
1952         1.0   10.0    NaN  NaN
1953         6.0   11.0    1.0  NaN
1954        13.0   16.0    1.0  NaN
1955         6.0   12.0    NaN  NaN
1956        13.0   22.0    1.0  NaN
1957        16.0   20.0    NaN  NaN
1958        15.0   34.0    2.0  NaN
1959        16.0   41.0    1.0  NaN
1960        29.0   29.0    1.0  NaN
1961        22.0   31.0    1.0  NaN
1962        31.0   42.0    1.0  NaN
1963        29.0   34.0    3.0  NaN
1964        43.0   49.0    2.0  NaN
1965        61.0   50.0    1.0  NaN
1966        31.0   60.0    1.0  NaN
1967        44.0   47.0    1.0  NaN
1968        58.0   68.0    1.0  NaN
1969        66.0   87.0    4.0  NaN
1970        77.0   93.0   26.0  NaN
1971        77.0   86.0    2.0  NaN
1972        68.0   88.0    1.0  NaN
1973        65.0   90.0    1.0  NaN
1974        92.0  109.0    3.0  NaN
1975        86.0   95.0    4.0  NaN
1976        90.0  122.0    5.0  NaN
1977        91.0  130.0    4.0  NaN
1978        99.0  137.0    2.0  NaN
1979       118.0  172.0    3.0  NaN
1980       116.0  166.0    5.0  NaN
1981       143.0  175.0    5.0  1.0
1982       161.0  224.0    9.0  NaN
1983       161.0  211.0    4.0  NaN
1984       170.0  202.0    4.0  NaN
1985       195.0  227.0    6.0  NaN
1986       195.0  276.0   16.0  NaN
1987       224.0  316.0    6.0  NaN
1988       262.0  314.0    5.0  NaN
1989       269.0  322.0    9.0  NaN
1990       317.0  375.0   22.0  NaN
1991       332.0  356.0    5.0  NaN
1992       359.0  381.0   19.0  NaN
1993       390.0  396.0    9.0  NaN
1994       416.0  397.0   10.0  1.0
1995       400.0  366.0   18.0  NaN
1996       418.0  384.0   23.0  NaN
1997       356.0  358.0   23.0  NaN
1998       316.0  296.0   14.0  NaN
1999       207.0  296.0   13.0  1.0
2000       199.0  229.0   17.0  NaN
2001       129.0  150.0    5.0  NaN
2002        66.0   57.0    2.0  NaN
2003        36.0   30.0    NaN  NaN
2004        36.0   25.0    1.0  NaN
2005        13.0   12.0    NaN  NaN
2006         7.0    6.0    NaN  NaN
2007         3.0    1.0    NaN  NaN
2008         NaN    3.0    NaN  NaN
2009         NaN    3.0    NaN  NaN
2010         NaN    5.0    NaN  NaN
2011         NaN    2.0    1.0  NaN
2012         2.0    1.0    NaN  NaN
2013         1.0    1.0    NaN  NaN
2014         NaN    1.0    1.0  NaN
2016         1.0    3.0    NaN  NaN
2017         2.0    2.0    NaN  NaN
2018         2.0    1.0    1.0  NaN
2019         6.0    5.0   21.0  NaN
2020        54.0   65.0   20.0  NaN
2021        16.0   14.0   10.0  NaN
2022         2.0    NaN    NaN  NaN
2023         NaN    2.0    NaN  NaN
2024         1.0    1.0    NaN  NaN
2025         1.0    NaN    NaN  NaN
2027         1.0    NaN    NaN  NaN
2028         1.0    3.0    NaN  NaN
2030         NaN    1.0    NaN  NaN
2033         NaN    1.0    NaN  NaN
2038         NaN    NaN    1.0  NaN
2045         NaN    1.0    NaN  NaN
2049         NaN    2.0    NaN  NaN
2050         NaN    2.0    NaN  NaN
2052         NaN    2.0    NaN  NaN
2053         NaN    1.0    NaN  NaN
2055         1.0    3.0    NaN  NaN
2056         NaN    1.0    NaN  NaN
2057         1.0    NaN    NaN  NaN
2058         1.0    4.0    1.0  NaN
2059         3.0    3.0    NaN  NaN
2060         1.0    4.0    1.0  NaN
2061         4.0    5.0    NaN  NaN
2062         5.0    2.0    NaN  NaN
2063         3.0    3.0    NaN  NaN
2064         1.0    4.0    NaN  NaN
2065        11.0    4.0    NaN  NaN
2066         3.0    5.0    NaN  NaN
2067         4.0    3.0    NaN  NaN
2068         4.0    3.0    NaN  NaN
2069         1.0    3.0    NaN  NaN
2081         NaN    1.0    NaN  NaN
2977         NaN    1.0    NaN  NaN
None        59.0   86.0  192.0  NaN

In [11]:
new_hires_2021.groupby('born_on',as_index=False).size()

    born_on  size
0      0001     1
1      0004     2
2      0006     1
3      0007     1
4      1076     1
5      1864     1
6      1900     6
7      1901     1
8      1920     1
9      1927     1
10     1943     1
11     1944     1
12     1945     4
13     1946     2
14     1947     1
15     1948     5
16     1949     5
17     1950     8
18     1951     9
19     1952     7
20     1953    12
21     1954    16
22     1955    18
23     1956    28
24     1957    32
25     1958    38
26     1959    54
27     1960    52
28     1961    52
29     1962    64
30     1963    93
31     1964    83
32     1965    76
33     1966    97
34     1967   101
35     1968   118
36     1969   119
37     1970   168
38     1971   136
39     1972   166
40     1973   169
41     1974   178
42     1975   199
43     1976   214
44     1977   219
45     1978   253
46     1979   308
47     1980   325
48     1981   310
49     1982   352
50     1983   389
51     1984   426
52     1985   429
53     1986   467
54     1987   557
55     1988   595
56     1989   644
57     1990   787
58     1991   785
59     1992   869
60     1993   783
61     1994   895
62     1995   872
63     1996   913
64     1997   969
65     1998   926
66     1999   864
67     2000   796
68     2001   573
69     2002   378
70     2003   216
71     2004   132
72     2005    89
73     2006    46
74     2007    15
75     2008     8
76     2009     4
77     2010    10
78     2011    10
79     2012     8
80     2013     7
81     2014     4
82     2015     2
83     2016     6
84     2017     6
85     2018     2
86     2019     6
87     2020    10
88     2021   234
89     2022     2
90     2023     3
91     2026     1
92     2028     2
93     2029     3
94     2030     1
95     2031     2
96     2037     1
97     2039     1
98     2053     1
99     2056     1
100    2057     1
101    2058     1
102    2059     3
103    2060     1
104    2061     3
105    2062     4
106    2063     1
107    2064     1
108    2065     2
109    2066     3
110    2067     2
111    2068     2
112    2069     4
113    2076     1
114    2079     1
115    2081     1
116    None  3216

In [12]:
new_hires_gender_2021 = new_hires_2021.groupby(['born_on','legal_sex'],as_index=False).size()
new_hires_gender_2021.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex           F      M     P    X
born_on
0001       NaN    NaN    1.0   NaN  NaN
0004       NaN    NaN    2.0   NaN  NaN
0006       NaN    1.0    NaN   NaN  NaN
0007       NaN    NaN    1.0   NaN  NaN
1076       NaN    1.0    NaN   NaN  NaN
1864       NaN    1.0    NaN   NaN  NaN
1900       NaN    NaN    2.0   NaN  NaN
1901       NaN    NaN    NaN   NaN  1.0
1920       NaN    1.0    NaN   NaN  NaN
1927       NaN    1.0    NaN   NaN  NaN
1943       NaN    NaN    1.0   NaN  NaN
1944       NaN    NaN    NaN   1.0  NaN
1945       NaN    2.0    2.0   NaN  NaN
1946       NaN    1.0    1.0   NaN  NaN
1947       NaN    NaN    1.0   NaN  NaN
1948       NaN    2.0    3.0   NaN  NaN
1949       NaN    1.0    4.0   NaN  NaN
1950       NaN    5.0    3.0   NaN  NaN
1951       NaN    4.0    5.0   NaN  NaN
1952       NaN    4.0    3.0   NaN  NaN
1953       NaN    4.0    8.0   NaN  NaN
1954       NaN    5.0   11.0   NaN  NaN
1955       NaN    8.0   10.0   NaN  NaN
1956       NaN   11.0   17.0   NaN  NaN
1957       NaN   12.0   20.0   NaN  NaN
1958       NaN   16.0   22.0   NaN  NaN
1959       NaN   23.0   30.0   NaN  NaN
1960       NaN   17.0   34.0   NaN  NaN
1961       NaN   17.0   32.0   2.0  NaN
1962       NaN   24.0   38.0   1.0  NaN
1963       NaN   42.0   49.0   1.0  NaN
1964       NaN   39.0   42.0   1.0  NaN
1965       NaN   34.0   42.0   NaN  NaN
1966       NaN   46.0   47.0   3.0  NaN
1967       NaN   40.0   59.0   1.0  NaN
1968       NaN   65.0   46.0   5.0  1.0
1969       NaN   37.0   81.0   1.0  NaN
1970       NaN   80.0   82.0   4.0  NaN
1971       NaN   59.0   70.0   4.0  NaN
1972       NaN   68.0   89.0   2.0  NaN
1973       NaN   77.0   88.0   1.0  1.0
1974       NaN   95.0   80.0   2.0  NaN
1975       NaN   86.0  106.0   3.0  1.0
1976       NaN  101.0  109.0   2.0  NaN
1977       NaN   99.0  113.0   3.0  NaN
1978       NaN   92.0  151.0   2.0  1.0
1979       NaN  143.0  155.0   5.0  NaN
1980       NaN  138.0  167.0  13.0  NaN
1981       NaN  122.0  176.0   7.0  NaN
1982       NaN  153.0  184.0  12.0  NaN
1983       NaN  163.0  217.0   7.0  NaN
1984       NaN  204.0  213.0   5.0  NaN
1985       NaN  187.0  227.0  11.0  1.0
1986       NaN  176.0  276.0   5.0  1.0
1987       NaN  236.0  305.0   2.0  1.0
1988       NaN  255.0  320.0   8.0  2.0
1989       NaN  305.0  323.0   7.0  NaN
1990       NaN  350.0  409.0   9.0  1.0
1991       NaN  342.0  424.0  10.0  1.0
1992       NaN  418.0  420.0  15.0  NaN
1993       NaN  365.0  386.0  10.0  2.0
1994       NaN  413.0  461.0   8.0  NaN
1995       NaN  408.0  429.0  13.0  1.0
1996       NaN  429.0  454.0  14.0  NaN
1997       NaN  446.0  473.0  25.0  2.0
1998       NaN  465.0  426.0  14.0  2.0
1999       NaN  441.0  393.0  15.0  2.0
2000       1.0  369.0  388.0  21.0  1.0
2001       NaN  261.0  287.0  16.0  1.0
2002       NaN  180.0  185.0   2.0  NaN
2003       NaN   98.0  117.0   NaN  NaN
2004       NaN   62.0   68.0   1.0  NaN
2005       NaN   56.0   29.0   NaN  NaN
2006       NaN   18.0   26.0   NaN  NaN
2007       NaN    6.0    6.0   1.0  NaN
2008       NaN    4.0    4.0   NaN  NaN
2009       NaN    NaN    4.0   NaN  NaN
2010       NaN    6.0    4.0   NaN  NaN
2011       NaN    4.0    4.0   2.0  NaN
2012       NaN    5.0    2.0   NaN  NaN
2013       NaN    1.0    4.0   NaN  2.0
2014       NaN    NaN    3.0   1.0  NaN
2015       NaN    1.0    1.0   NaN  NaN
2016       NaN    2.0    3.0   1.0  NaN
2017       NaN    3.0    3.0   NaN  NaN
2018       NaN    1.0    1.0   NaN  NaN
2019       NaN    NaN    1.0   5.0  NaN
2020       NaN    3.0    7.0   NaN  NaN
2021       NaN   97.0   91.0  35.0  6.0
2022       NaN    1.0    1.0   NaN  NaN
2023       NaN    3.0    NaN   NaN  NaN
2026       NaN    NaN    1.0   NaN  NaN
2028       NaN    1.0    1.0   NaN  NaN
2029       NaN    1.0    2.0   NaN  NaN
2030       NaN    NaN    1.0   NaN  NaN
2031       NaN    2.0    NaN   NaN  NaN
2037       NaN    NaN    1.0   NaN  NaN
2039       NaN    NaN    1.0   NaN  NaN
2053       NaN    NaN    1.0   NaN  NaN
2056       NaN    NaN    1.0   NaN  NaN
2057       NaN    1.0    NaN   NaN  NaN
2058       NaN    1.0    NaN   NaN  NaN
2059       NaN    1.0    2.0   NaN  NaN
2060       NaN    1.0    NaN   NaN  NaN
2061       NaN    2.0    1.0   NaN  NaN
2062       NaN    1.0    3.0   NaN  NaN
2063       NaN    1.0    NaN   NaN  NaN
2064       NaN    NaN    1.0   NaN  NaN
2065       NaN    2.0    NaN   NaN  NaN
2066       NaN    NaN    2.0   NaN  NaN
2067       NaN    NaN    1.0   1.0  NaN
2068       NaN    1.0    1.0   NaN  NaN
2069       NaN    1.0    3.0   NaN  NaN
2076       NaN    NaN    1.0   NaN  NaN
2079       NaN    1.0    NaN   NaN  NaN
2081       NaN    NaN    1.0   NaN  NaN
None       NaN   32.0   55.0  79.0  NaN

### termination generations, and by gender

In [13]:
employees_terminated_2020 = employees[(employees["terminated_on"]>"2019-12-31 23:59:59")&(employees["terminated_on"]<"2020-12-31 23:59:59")]
employees_terminated_2021 = employees[(employees["terminated_on"]>"2020-12-31 23:59:59")&(employees["terminated_on"]<"2021-12-31 23:59:59")]

In [14]:
employees_terminated_2020.groupby('born_on',as_index=False).size()

   born_on  size
0     0001     1
1     1896     1
2     1900    52
3     1909     1
4     1938     1
5     1939     2
6     1941     1
7     1942     4
8     1943     1
9     1944     2
10    1945     1
11    1946     2
12    1947     1
13    1948     4
14    1949     5
15    1950     6
16    1951     6
17    1952     9
18    1953    12
19    1954     9
20    1955    29
21    1956    22
22    1957    28
23    1958    28
24    1959    35
25    1960    39
26    1961    33
27    1962    36
28    1963    47
29    1964    59
30    1965    47
31    1966    54
32    1967    60
33    1968    60
34    1969    81
35    1970   184
36    1971    89
37    1972    65
38    1973    84
39    1974   104
40    1975    99
41    1976   103
42    1977   124
43    1978   121
44    1979   128
45    1980   157
46    1981   176
47    1982   202
48    1983   194
49    1984   195
50    1985   218
51    1986   275
52    1987   309
53    1988   302
54    1989   334
55    1990   405
56    1991   394
57    1992   411
58    1993   434
59    1994   444
60    1995   429
61    1996   380
62    1997   331
63    1998   325
64    1999   294
65    2000   215
66    2001   122
67    2002    49
68    2003    16
69    2004    13
70    2005     5
71    2010     2
72    2012     1
73    2014     1
74    2017     3
75    2018    13
76    2019    52
77    2020    48
78    2030     2
79    2055     1
80    2059     1
81    2061     2
82    2062     1
83    2063     1
84    2064     1
85    2065     1
86    2067     1
87    2069     2
88    2081     1
89    None  1411

In [15]:
employees_terminated_gender_2020 = employees_terminated_2020.groupby(['born_on','legal_sex'],as_index=False).size()
employees_terminated_gender_2020.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P
born_on
1896         1.0    NaN   NaN
1900         1.0    4.0  47.0
1909         1.0    NaN   NaN
1938         NaN    1.0   NaN
1939         1.0    1.0   NaN
1941         NaN    1.0   NaN
1942         NaN    2.0   NaN
1944         NaN    2.0   NaN
1947         NaN    1.0   NaN
1948         NaN    4.0   NaN
1949         1.0    4.0   NaN
1950         NaN    5.0   1.0
1951         2.0    4.0   NaN
1952         2.0    7.0   NaN
1953         5.0    6.0   1.0
1954         3.0    6.0   NaN
1955        11.0   16.0   1.0
1956         6.0   13.0   1.0
1957        11.0   15.0   2.0
1958         5.0   20.0   1.0
1959        12.0   22.0   NaN
1960        13.0   22.0   1.0
1961        11.0   19.0   1.0
1962        15.0   19.0   1.0
1963        20.0   24.0   1.0
1964        23.0   30.0   2.0
1965        19.0   25.0   1.0
1966        21.0   28.0   NaN
1967        20.0   34.0   2.0
1968        24.0   31.0   1.0
1969        38.0   33.0   6.0
1970        50.0   55.0  77.0
1971        30.0   51.0   3.0
1972        23.0   37.0   3.0
1973        41.0   41.0   1.0
1974        42.0   51.0   6.0
1975        38.0   50.0   4.0
1976        42.0   54.0   NaN
1977        42.0   68.0   6.0
1978        51.0   55.0   5.0
1979        45.0   68.0  10.0
1980        62.0   83.0   5.0
1981        79.0   83.0   9.0
1982        81.0  100.0   8.0
1983        78.0   97.0   8.0
1984        87.0   95.0   4.0
1985        87.0  110.0   8.0
1986       100.0  150.0   7.0
1987       112.0  165.0  13.0
1988       120.0  152.0  15.0
1989       134.0  168.0  12.0
1990       160.0  194.0  26.0
1991       168.0  191.0   9.0
1992       194.0  181.0  10.0
1993       190.0  208.0  14.0
1994       205.0  197.0  14.0
1995       194.0  203.0  12.0
1996       196.0  149.0  10.0
1997       175.0  138.0   9.0
1998       164.0  132.0  15.0
1999       122.0  149.0  13.0
2000        84.0  110.0  12.0
2001        54.0   62.0   4.0
2002        24.0   21.0   NaN
2003         7.0    7.0   1.0
2004         8.0    3.0   NaN
2005         3.0    2.0   NaN
2010         NaN    2.0   NaN
2012         NaN    1.0   NaN
2014         NaN    1.0   NaN
2017         2.0    1.0   NaN
2018         4.0    8.0   1.0
2019        29.0   12.0   8.0
2020        11.0   30.0   6.0
2030         NaN    1.0   1.0
2055         1.0    NaN   NaN
2059         1.0    NaN   NaN
2061         2.0    NaN   NaN
2062         1.0    NaN   NaN
2063         NaN    1.0   NaN
2065         1.0    NaN   NaN
2067         NaN    1.0   NaN
2069         NaN    2.0   NaN
2081         NaN    1.0   NaN
None        44.0   38.0  46.0

In [16]:
employees_terminated_2021.groupby('born_on',as_index=False).size()

    born_on  size
0      0001     2
1      0160     1
2      0199     5
3      0201     1
4      1899     1
5      1900    47
6      1920     1
7      1935     1
8      1937     1
9      1939     1
10     1943     1
11     1945     3
12     1946     2
13     1947     5
14     1948     3
15     1949     4
16     1950     6
17     1951    12
18     1952    18
19     1953    16
20     1954    22
21     1955    18
22     1956    32
23     1957    38
24     1958    34
25     1959    41
26     1960    45
27     1961    43
28     1962    46
29     1963    61
30     1964    51
31     1965    66
32     1966    63
33     1967    75
34     1968    83
35     1969    84
36     1970   105
37     1971    97
38     1972   102
39     1973   115
40     1974   123
41     1975    94
42     1976   118
43     1977   150
44     1978   149
45     1979   155
46     1980   160
47     1981   201
48     1982   219
49     1983   220
50     1984   267
51     1985   275
52     1986   299
53     1987   341
54     1988   407
55     1989   408
56     1990   505
57     1991   519
58     1992   533
59     1993   514
60     1994   532
61     1995   506
62     1996   518
63     1997   506
64     1998   457
65     1999   437
66     2000   406
67     2001   258
68     2002   142
69     2003    65
70     2004    40
71     2005    23
72     2006     7
73     2007     2
74     2008     1
75     2009     1
76     2010     8
77     2011     4
78     2012     5
79     2013    30
80     2015     3
81     2016     5
82     2017     3
83     2018     6
84     2019    20
85     2020    26
86     2021    46
87     2023     2
88     2024     2
89     2025     1
90     2026     2
91     2027     1
92     2028     3
93     2029     1
94     2030     1
95     2038     1
96     2040     1
97     2048     2
98     2049     2
99     2050     2
100    2052     4
101    2053     1
102    2055     3
103    2056     3
104    2057     1
105    2058     3
106    2059     3
107    2060     6
108    2061     9
109    2062     5
110    2063     5
111    2064     4
112    2065    11
113    2066     2
114    2067     5
115    2068     9
116    2069     1
117    2977     1
118    None  1387

In [17]:
employees_terminated_gender_2021 = employees_terminated_2021.groupby(['born_on','legal_sex'],as_index=False).size()
employees_terminated_gender_2021.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M      P    X
born_on
0001         NaN    1.0    1.0  NaN
1900         6.0   19.0   22.0  NaN
1920         1.0    NaN    NaN  NaN
1935         NaN    1.0    NaN  NaN
1937         NaN    1.0    NaN  NaN
1939         NaN    1.0    NaN  NaN
1945         NaN    3.0    NaN  NaN
1946         1.0    NaN    NaN  NaN
1947         2.0    2.0    NaN  NaN
1948         3.0    NaN    NaN  NaN
1949         2.0    2.0    NaN  NaN
1950         2.0    4.0    NaN  NaN
1951         5.0    5.0    NaN  NaN
1952         5.0    5.0    1.0  NaN
1953         1.0   15.0    NaN  NaN
1954        10.0    9.0    NaN  NaN
1955         6.0   10.0    NaN  NaN
1956        18.0    8.0    2.0  NaN
1957        15.0   19.0    NaN  NaN
1958        11.0   22.0    NaN  NaN
1959        12.0   28.0    1.0  NaN
1960        26.0   17.0    NaN  NaN
1961        17.0   22.0    3.0  NaN
1962        14.0   28.0    1.0  NaN
1963        25.0   31.0    1.0  NaN
1964        22.0   26.0    1.0  NaN
1965        30.0   35.0    NaN  NaN
1966        23.0   38.0    1.0  NaN
1967        30.0   38.0    1.0  NaN
1968        39.0   36.0    2.0  NaN
1969        32.0   47.0    2.0  NaN
1970        34.0   53.0    4.0  NaN
1971        38.0   47.0    1.0  NaN
1972        38.0   58.0    NaN  NaN
1973        44.0   64.0    3.0  NaN
1974        47.0   65.0    2.0  NaN
1975        37.0   51.0    NaN  NaN
1976        43.0   63.0    2.0  NaN
1977        53.0   85.0    3.0  NaN
1978        53.0   84.0    2.0  1.0
1979        60.0   84.0    2.0  NaN
1980        53.0   83.0    4.0  NaN
1981        70.0  114.0    5.0  NaN
1982        90.0  106.0    5.0  NaN
1983        76.0  123.0    4.0  NaN
1984       108.0  123.0    5.0  NaN
1985       111.0  122.0    7.0  NaN
1986       106.0  145.0    5.0  1.0
1987       123.0  173.0    8.0  NaN
1988       142.0  204.0    4.0  NaN
1989       171.0  177.0    9.0  NaN
1990       194.0  244.0    6.0  NaN
1991       201.0  249.0    6.0  NaN
1992       210.0  239.0   12.0  NaN
1993       204.0  232.0   10.0  1.0
1994       203.0  264.0    7.0  1.0
1995       220.0  228.0    7.0  NaN
1996       214.0  252.0    7.0  1.0
1997       212.0  232.0   17.0  NaN
1998       174.0  236.0    9.0  NaN
1999       172.0  221.0    8.0  NaN
2000       166.0  208.0    6.0  NaN
2001        93.0  136.0    5.0  NaN
2002        61.0   59.0    1.0  NaN
2003        25.0   36.0    NaN  NaN
2004        21.0   15.0    2.0  NaN
2005        14.0    9.0    NaN  NaN
2006         3.0    4.0    NaN  NaN
2007         2.0    NaN    NaN  NaN
2008         NaN    1.0    NaN  NaN
2009         NaN    1.0    NaN  NaN
2010         2.0    5.0    NaN  NaN
2011         2.0    2.0    NaN  NaN
2012         2.0    2.0    NaN  NaN
2013         NaN   30.0    NaN  NaN
2015         NaN    1.0    NaN  NaN
2016         1.0    3.0    NaN  NaN
2017         1.0    2.0    NaN  NaN
2018         1.0    2.0    NaN  NaN
2019         6.0    7.0    5.0  NaN
2020         8.0   18.0    NaN  NaN
2021        20.0   15.0    7.0  NaN
2023         1.0    1.0    NaN  NaN
2024         1.0    1.0    NaN  NaN
2025         1.0    NaN    NaN  NaN
2026         1.0    1.0    NaN  NaN
2027         NaN    1.0    NaN  NaN
2028         1.0    2.0    NaN  NaN
2029         NaN    1.0    NaN  NaN
2030         NaN    1.0    NaN  NaN
2038         NaN    NaN    1.0  NaN
2040         NaN    1.0    NaN  NaN
2048         NaN    2.0    NaN  NaN
2049         NaN    2.0    NaN  NaN
2050         NaN    2.0    NaN  NaN
2052         NaN    4.0    NaN  NaN
2053         NaN    1.0    NaN  NaN
2055         NaN    3.0    NaN  NaN
2056         2.0    1.0    NaN  NaN
2057         NaN    1.0    NaN  NaN
2058         NaN    3.0    NaN  NaN
2059         2.0    1.0    NaN  NaN
2060         1.0    5.0    NaN  NaN
2061         4.0    5.0    NaN  NaN
2062         4.0    1.0    NaN  NaN
2063         3.0    2.0    NaN  NaN
2064         1.0    3.0    NaN  NaN
2065         8.0    3.0    NaN  NaN
2066         NaN    2.0    NaN  NaN
2067         1.0    4.0    NaN  NaN
2068         5.0    4.0    NaN  NaN
2069         1.0    NaN    NaN  NaN
2977         NaN    1.0    NaN  NaN
None        40.0   74.0  274.0  NaN

### tenure by generation

In [33]:
employees_tenure = employees[(employees['deleted_at'].isna())&(employees['hired_at']<np.datetime64('today'))]

In [34]:
employees_tenure.loc[employees_tenure['terminated_on'].isna()==False, 'tenure'] = employees_tenure['terminated_on']-employees_tenure['hired_at']

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [35]:
employees_tenure.loc[employees_tenure['terminated_on'].isna()==True, 'tenure'] = np.datetime64('today')-employees_tenure['hired_at']

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [36]:
employees_tenure

,employee_id,company_id,born_on,hired_at,terminated_on,deleted_at,legal_sex,job_id,c_deleted,tenure
185,190,8,1990,2017-03-06 00:00:00,2019-11-22 00:00:00,NaT,F,311.0,NaT,991 days 00:00:00
194,201,9,1977,2014-11-24 00:00:00,2020-07-14 00:00:00,NaT,F,68.0,NaT,2059 days 00:00:00
196,203,11,2018,2008-01-08 00:00:00,NaT,NaT,F,13141.0,NaT,4976 days 00:00:00
197,204,8,1992,2016-07-28 00:00:00,NaT,NaT,M,78.0,NaT,1852 days 00:00:00
199,206,4,None,2017-10-25 00:00:00,2018-07-17 00:00:00,NaT,None,81.0,NaT,265 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...
93922,96885,1621,None,2021-07-26 04:00:00,NaT,NaT,None,24013.0,NaT,27 days 20:00:00
93930,96893,2713,1985,2020-02-24 07:00:00,NaT,NaT,F,43715.0,NaT,545 days 17:00:00
93931,96894,2713,1964,2020-02-03 07:00:00,NaT,NaT,M,43757.0,NaT,566 days 17:00:00
93934,96897,1952,2001,2019-11-11 05:00:00,2021-08-23 19:47:00,NaT,None,NaN,NaT,651 days 14:47:00
93935,96898,1952,2000,2013-11-01 04:00:00,2021-08-23 20:02:03,NaT,None,NaN,NaT,2852 days 16:02:03

In [37]:
employees_tenure = employees_tenure[employees_tenure['born_on']!='None']

In [38]:
employees_tenure = employees_tenure.astype({"born_on":int})
employees_tenure.loc[(employees_tenure['born_on']<1965)&(employees_tenure['born_on']>1944),'generation'] = "Baby Boomer"
employees_tenure.loc[(employees_tenure['born_on']<1980)&(employees_tenure['born_on']>1964),'generation'] = "Gen X"
employees_tenure.loc[(employees_tenure['born_on']<1995)&(employees_tenure['born_on']>1979),'generation'] = "Millennial"
employees_tenure.loc[(employees_tenure['born_on']<2015)&(employees_tenure['born_on']>1994),'generation'] = "Gen Z"

In [39]:
employees_tenure['tenure'] = employees_tenure['tenure'].values.astype(np.int64)

In [40]:
means=employees_tenure.groupby('generation',as_index=False)['tenure'].mean()

In [41]:
means['tenure'] = pd.to_timedelta(means['tenure'])

In [42]:
means

    generation                       tenure
0  Baby Boomer 2745 days 03:23:01.297988384
1        Gen X 1529 days 21:45:46.150680448
2        Gen Z  396 days 16:47:33.084693504
3   Millennial  843 days 08:10:35.245854256