# People Report Data

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

In [2]:
engine_2 = create_engine('mysql+mysqlconnector://ili:f9FqFe93htPT13nzx@humi-data-agg.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/test')

## Background info

### companies live numbers

In [3]:
#eliminate bad Record and administrative companies
Total_company_query = "select id, created_at,locked_at,deleted_at \
from `companies` where deleted_at is null and id != 2 and \
id != 52 and id != 120 and id != 608 and id != 710 \
and id != 1274"
companies = pd.read_sql_query(Total_company_query, con=engine)

In [4]:
companies = companies.astype({'locked_at':'datetime64'})

In [5]:
companies_2019 = companies[companies['created_at']<'2019-12-31 23:59:59']

In [24]:
#number of live companies 2019
companies_2019.loc[((companies_2019['locked_at'].isna())|
                   (companies_2019['locked_at']>'2019-12-31')),"live data"] = True
companies_2019 = companies_2019[companies_2019['live data'] == True]
companies_2019['id'].count()

528

In [25]:
#number of live companies 2020

companies_2020 = companies[companies['created_at']<'2020-12-31 23:59:59']

companies_2020.loc[(companies_2020['locked_at'].isna()|
                   (companies_2020['locked_at']>'2020-12-31')),"live data"] = True
companies_2020 = companies_2020[companies_2020['live data'] == True]
companies_2020['id'].count()

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

1107

In [26]:
#number of live companies 2021

companies_2021 = companies[companies['created_at']<'2021-12-31 23:59:59']

companies_2021.loc[(companies_2021['locked_at'].isna())|
                   (companies_2021['locked_at']>'2021-12-31'),"live data"] = True
companies_2021 = companies_2021[companies_2021['live data'] == True]
companies_2021['id'].count()

1662

### employee live numbers and gender distribution

In [9]:
# deleted employees belong to either churned companies or bad record, need to join companies dataset 
#and eliminate bad records

In [10]:
employees_query = "select id, company_id, created_at, hired_at, terminated_on, deleted_at, legal_sex, employment_type from employees where hired_at != '3-01-03 00:00:00' \
and hired_at != '0001-01-20 00:00:00' and hired_at != '0001-08-19 21:54:51' and hired_at != '0021-07-08 05:17:32' and hired_at != '0201-09-01 00:00:00' \
and company_id != 2 and \
company_id != 52 and company_id != 120 and company_id != 608 and company_id != 710 \
and company_id != 1274"
employees = pd.read_sql_query(employees_query, con=engine)

In [11]:
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)

In [12]:
employees = employees.merge(company_bad_re, how="left",on="company_id")

In [13]:
employees = employees[employees['c_deleted'].isna()]
employees.loc[employees['terminated_on'].isna()==False,'deleted_at'] = np.nan

In [27]:
#2018 live employees
employees_2018 = employees[employees['created_at']<'2018-12-31 23:59:59']

employees_2018.loc[((employees_2018['terminated_on'].isna())&(employees_2018['deleted_at'].isna())|
                   (employees_2018['terminated_on']>'2018-12-31 23:59:59')
                   |(employees_2018['deleted_at']>'2018-12-31 23:59:59')),"live data"] = True
employees_2018 = employees_2018[employees_2018['live data'] == True]
employees_2018['id'].count()

3803

In [28]:
#2018 live employees - full time

fulltime_employees_2018 = employees_2018[employees_2018['employment_type'] == 'full-time']
fulltime_employees_2018['id'].count()

3043

In [16]:
# 2018 employee gender distribution
employees_2018_gender = employees_2018.dropna(subset=['legal_sex'])
employees_2018_gender.groupby(["legal_sex"],as_index=False).size()

  legal_sex  size
0         F  1195
1         M  1724
2         P    29

In [29]:
#2019 live employees

employees_2019 = employees[employees['created_at']<'2019-12-31 23:59:59']

employees_2019.loc[((employees_2019['terminated_on'].isna())&(employees_2019['deleted_at'].isna())|
                   (employees_2019['terminated_on']>'2019-12-31 23:59:59')
                   |(employees_2019['deleted_at']>'2029-12-31 23:59:59')),"live data"] = True
employees_2019 = employees_2019[employees_2019['live data'] == True]
employees_2019['id'].count()

13681

In [18]:
# 2019 employee gender distribution
employees_2019_gender = employees_2019.dropna(subset=['legal_sex'])
employees_2019_gender.groupby(["legal_sex"],as_index=False).size()

  legal_sex  size
0         F  5478
1         M  7191
2         P   519

In [30]:
#2020 live employees

employees_2020 = employees[employees['created_at']<'2020-12-31 23:59:59']

employees_2020.loc[((employees_2020['terminated_on'].isna())&(employees_2020['deleted_at'].isna())|
                   (employees_2020['terminated_on']>'2020-12-31 23:59:59')
                   |(employees_2020['deleted_at']>'2020-12-31 23:59:59')),"live data"] = True
employees_2020 = employees_2020[employees_2020['live data'] == True]
employees_2020['id'].count()

31872

In [20]:
# 2020 employee gender distribution
employees_2020_gender = employees_2020.dropna(subset=['legal_sex'])
employees_2020_gender.groupby(["legal_sex"],as_index=False).size()

  legal_sex   size
0         F  13153
1         M  16047
2         P   1132
3         X      7

In [32]:
#2021 live employees

employees_2021 = employees[employees['created_at']<'2021-12-31 23:59:59']

employees_2021.loc[((employees_2021['terminated_on'].isna())&(employees_2021['deleted_at'].isna())|
                   (employees_2021['terminated_on']>'2021-12-31 23:59:59')
                   |(employees_2021['deleted_at']>'2021-12-31 23:59:59')
                   ),"live data"] = True
employees_2021 = employees_2021[employees_2021['live data'] == True]
employees_2021['id'].count()

53749

In [22]:
# 2021 employee gender distribution
employees_2021_gender = employees_2021.dropna(subset=['legal_sex'])
employees_2021_gender.groupby(["legal_sex"],as_index=False).size()

  legal_sex   size
0                2
1         F  22114
2         M  24905
3         P   1872
4         X     34

### Industry distribution is classified accourding to industry categorization on Statistics Canada

In [23]:
all_industry = "select distinct `industry` \
from `companies` \
where `deleted_at` is null"
pd.read_sql_query(all_industry, con=engine)
## Details are in google sheet
## reference: https://www23.statcan.gc.ca/imdb/p3VD.pl?Function=getVD&TVD=1181553

                      industry
0                     software
1               Doggy Day Care
2       Health Care Technology
3                    Oil & Gas
4            Security Services
..                         ...
531          Battery Materials
532      Construction: Roofing
533           Impact investing
534      Charitable Foundation
535  Hair & Photography Studio

[536 rows x 1 columns]