# People Report Data

In [73]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

## Employee time off

In [74]:
#Employee data

In [75]:
employees_query = "select id as employee_id, company_id, created_at, hired_at, terminated_on, deleted_at, legal_sex, employment_type from employees where hired_at != '3-01-03 00:00:00' \
and hired_at != '0001-01-20 00:00:00' and hired_at != '0001-08-19 21:54:51' and hired_at != '0021-07-08 05:17:32' and hired_at != '0201-09-01 00:00:00'"
employees = pd.read_sql_query(employees_query, con=engine)

In [76]:
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)

In [77]:
employees = employees.merge(company_bad_re, how="left",on="company_id")
employees = employees[employees['c_deleted'].isna()]
employees.loc[employees['terminated_on'].isna()==False,'deleted_at'] = np.nan

### Total Requests 2019-2021

In [78]:
time_off_request_query ="select id, employee_id, time_off_policy_id, start_at, end_at-start_at+1 as days, description \
from time_off_requests where `deleted_at` is null and `start_at`>'2018-12-31 23:59:59' and status!='denied'"
time_off_request = pd.read_sql_query(time_off_request_query, con=engine)

In [79]:
time_off_request = time_off_request.astype({"employee_id": str,"start_at": str})

In [80]:
time_off_request_query_2 ="select user_id as employee_id, leave_type_id, start_at,description, number_of_days_away \
from pto_user_requests where `deleted_at` is null and `start_at`>'2018-12-31 23:59:59'and denied is null"
time_off_request_2 = pd.read_sql_query(time_off_request_query_2, con=engine)

In [81]:
time_off_request_2["start_at"] = time_off_request_2["start_at"].apply(lambda x: x.strftime('%Y-%m-%d'))

In [82]:
time_off_request_2 = time_off_request_2.astype({"employee_id": str,"start_at": str})

In [83]:
time_off_request['unique_id'] = time_off_request['employee_id'] + " - " + time_off_request["start_at"]

In [84]:
time_off_request_2['unique_id'] = time_off_request_2['employee_id'] + " - " + time_off_request_2["start_at"]

In [85]:
time_off_request_2['exists'] = time_off_request_2['unique_id'].isin(time_off_request['unique_id'])
time_off_request_2 = time_off_request_2[time_off_request_2['exists'] == False].drop(['exists'],axis=1)

In [86]:
time_off_request.start_at = time_off_request.start_at.str[0:7]

In [87]:
employees_full_time = employees[employees['employment_type']=='full-time']
employees_full_time = employees_full_time.astype({"employee_id": str})

In [88]:
time_off_request['full-time'] = time_off_request['employee_id'].isin(employees_full_time['employee_id'])
time_off_request = time_off_request[time_off_request['full-time'] == True]

In [89]:
time_off_request_2.start_at = time_off_request_2.start_at.str[0:7]

In [90]:
time_off_request_2['full-time'] = time_off_request_2['employee_id'].isin(employees_full_time['employee_id'])
time_off_request_2 = time_off_request_2[time_off_request_2['full-time'] == True]

In [91]:
time_off_request.groupby("start_at",as_index=False).size()

   start_at   size
0   2019-01   3686
1   2019-02   3480
2   2019-03   3884
3   2019-04   4064
4   2019-05   4592
5   2019-06   5091
6   2019-07   6059
7   2019-08   6922
8   2019-09   5282
9   2019-10   5979
10  2019-11   6305
11  2019-12  10513
12  2020-01   9254
13  2020-02   8080
14  2020-03   7926
15  2020-04   4942
16  2020-05   5495
17  2020-06   6892
18  2020-07  10741
19  2020-08  10916
20  2020-09   9299
21  2020-10   9640
22  2020-11  10656
23  2020-12  17780
24  2021-01   8254
25  2021-02  10698
26  2021-03  13727
27  2021-04  13912
28  2021-05  14968
29  2021-06  18147
30  2021-07  25446
31  2021-08  18409
32  2021-09   4723
33  2021-10   1738
34  2021-11   1068
35  2021-12   1984
36  2022-01    144
37  2022-02     74
38  2022-03     61
39  2022-04     24
40  2022-05     24
41  2022-06     16
42  2022-07     21
43  2022-08      9
44  2022-09      1
45  2022-10      3
46  2022-11      2
47  2022-12      5
48  2023-04      1
49  2023-08      2
50  2024-08      2
51  2024-11      1

In [92]:
time_off_request_2.groupby("start_at",as_index=False).size()

   start_at  size
0   2019-01   677
1   2019-02   711
2   2019-03   815
3   2019-04   810
4   2019-05   922
5   2019-06  1081
6   2019-07  1258
7   2019-08  1494
8   2019-09  1133
9   2019-10  1238
10  2019-11  1218
11  2019-12  1888
12  2020-01  1145
13  2020-02   814
14  2020-03   913
15  2020-04   351
16  2020-05   456
17  2020-06   559
18  2020-07   860
19  2020-08   800
20  2020-09   568
21  2020-10   456
22  2020-11   437
23  2020-12   720
24  2021-01   102
25  2021-02    75
26  2021-03    69
27  2021-04    26
28  2021-05    34
29  2021-06    31
30  2021-07    30
31  2021-08    18
32  2021-09    11
33  2021-10     4
34  2021-11     2
35  2021-12    11

### employees live

In [93]:
#employee dynamics by month

In [98]:
employees_flive = employees[employees['employment_type']=='full-time']
employees_onboarded = employees_flive[employees_flive['created_at']>'2018-12-31 23:59:59']
employees_onboarded=employees_onboarded.astype({'created_at': str})

In [99]:
employees_onboarded.created_at = employees_onboarded.created_at.str[0:7]
employees_onboarded.groupby('created_at', as_index=False).size()

   created_at  size
0     2019-01  2006
1     2019-02   664
2     2019-03   910
3     2019-04   872
4     2019-05  2115
5     2019-06   860
6     2019-07  1122
7     2019-08   813
8     2019-09  1118
9     2019-10  1156
10    2019-11  1043
11    2019-12  1090
12    2020-01  1427
13    2020-02   819
14    2020-03  1289
15    2020-04  1392
16    2020-05  1338
17    2020-06  1362
18    2020-07  1636
19    2020-08  1434
20    2020-09  2511
21    2020-10  2794
22    2020-11  3110
23    2020-12  2778
24    2021-01  2445
25    2021-02  2614
26    2021-03  2961
27    2021-04  3575
28    2021-05  3333
29    2021-06  3488
30    2021-07  3787
31    2021-08  1269

In [100]:
employees_terminated = employees_flive[employees_flive['terminated_on'].isna() == False]
employees_terminated = employees_terminated[employees_terminated['terminated_on']>'2018-12-31 23:59:59']
employees_deleted = employees_flive[employees_flive['deleted_at'].isna() == False]
employees_deleted = employees_deleted[employees_deleted['deleted_at']>'2018-12-31 23:59:59']

In [101]:
employees_terminated=employees_terminated.astype({'terminated_on': str})
employees_terminated.terminated_on = employees_terminated.terminated_on.str[0:7]

employees_deleted=employees_deleted.astype({'deleted_at': str})

employees_deleted.deleted_at = employees_deleted.deleted_at.str[0:7]

In [102]:
employees_terminated.groupby('terminated_on', as_index=False).size()

   terminated_on  size
0        2019-01   233
1        2019-02   167
2        2019-03   224
3        2019-04   236
4        2019-05   332
5        2019-06   287
6        2019-07   262
7        2019-08   359
8        2019-09   327
9        2019-10   307
10       2019-11   374
11       2019-12   243
12       2020-01   374
13       2020-02   356
14       2020-03   428
15       2020-04   411
16       2020-05   287
17       2020-06   312
18       2020-07   287
19       2020-08   397
20       2020-09   684
21       2020-10  1089
22       2020-11   890
23       2020-12   770
24       2021-01   762
25       2021-02   809
26       2021-03  1028
27       2021-04  1012
28       2021-05  1166
29       2021-06  1061
30       2021-07   981
31       2021-08   566

In [103]:
employees_deleted.groupby('deleted_at', as_index=False).size()

   deleted_at  size
0     2019-01    71
1     2019-02   106
2     2019-03    65
3     2019-04   186
4     2019-05   143
5     2019-06   206
6     2019-07   115
7     2019-08    65
8     2019-09    73
9     2019-10   329
10    2019-11   271
11    2019-12    43
12    2020-01   217
13    2020-02   256
14    2020-03    82
15    2020-04   162
16    2020-05    36
17    2020-06   100
18    2020-07   116
19    2020-08    96
20    2020-09   103
21    2020-10   160
22    2020-11   163
23    2020-12   160
24    2021-01   160
25    2021-02   112
26    2021-03   325
27    2021-04   217
28    2021-05   275
29    2021-06   183
30    2021-07   209
31    2021-08    71

### Request days

In [104]:
time_off_request_days = "select default_amount, date, time_off_request_id as id from time_off_request_days \
where `date`>'2018-12-31 23:59:59' and deleted_at is null"
time_off_request_days = pd.read_sql_query(time_off_request_days, con=engine)

In [105]:
time_off_request_days['full-time'] = time_off_request_days['id'].isin(time_off_request['id'])
time_off_request_days = time_off_request_days[time_off_request_days['full-time'] == True]

In [106]:
time_off_request_days = time_off_request_days.astype({"date": str}) 
time_off_request_days.date = time_off_request_days.date.str[0:7]

In [107]:
time_off_request_days.groupby("date", as_index=False)["default_amount"].sum()

       date  default_amount
0   2019-01          6605.0
1   2019-02          6386.0
2   2019-03          7429.0
3   2019-04          7131.0
4   2019-05          8572.0
5   2019-06          8833.0
6   2019-07         13204.0
7   2019-08         15610.0
8   2019-09          9875.0
9   2019-10         10207.0
10  2019-11         10693.0
11  2019-12         19143.0
12  2020-01         17001.0
13  2020-02         14284.0
14  2020-03         17021.0
15  2020-04          9665.0
16  2020-05          9021.0
17  2020-06         12013.0
18  2020-07         20641.0
19  2020-08         22635.0
20  2020-09         17109.0
21  2020-10         15620.0
22  2020-11         16963.0
23  2020-12         37281.0
24  2021-01         15137.0
25  2021-02         16880.0
26  2021-03         22360.0
27  2021-04         21966.0
28  2021-05         23130.0
29  2021-06         30135.0
30  2021-07         49183.0
31  2021-08         48190.0
32  2021-09         16759.0
33  2021-10          6582.0
34  2021-11          4252.0
35  2021-12          7904.0
36  2022-01          1547.0
37  2022-02           972.0
38  2022-03           872.0
39  2022-04           587.0
40  2022-05           512.0
41  2022-06           412.0
42  2022-07           334.0
43  2022-08           220.0
44  2022-09            92.0
45  2022-10            75.0
46  2022-11            27.0
47  2022-12            43.0
48  2023-01            19.0
49  2023-04            15.0
50  2023-08            16.0
51  2024-08            16.0
52  2024-11             3.0

In [108]:
time_off_request_2.groupby("start_at", as_index=False)["number_of_days_away"].sum()

   start_at  number_of_days_away
0   2019-01              1303.46
1   2019-02              2112.67
2   2019-03              1813.67
3   2019-04              1746.75
4   2019-05              2303.50
5   2019-06              2918.50
6   2019-07              3403.25
7   2019-08              4156.25
8   2019-09              2325.00
9   2019-10              2316.25
10  2019-11              2223.00
11  2019-12              5527.50
12  2020-01              2659.00
13  2020-02              1644.25
14  2020-03              3340.25
15  2020-04              1302.25
16  2020-05               873.25
17  2020-06              1115.00
18  2020-07              1827.75
19  2020-08              1804.75
20  2020-09              1260.50
21  2020-10               780.00
22  2020-11              1215.50
23  2020-12              2414.75
24  2021-01              1034.00
25  2021-02               818.75
26  2021-03               442.25
27  2021-04               159.50
28  2021-05               133.50
29  2021-06               137.50
30  2021-07               142.50
31  2021-08               130.00
32  2021-09                60.00
33  2021-10                71.00
34  2021-11                 2.00
35  2021-12               101.00

### Vacation requests %

In [109]:
time_off_policies_query = "select id, `name` from time_off_policies \
where `name` like '%vacation%'"
time_off_policies = pd.read_sql_query(time_off_policies_query, con=engine)

In [110]:
time_off_request_v = time_off_request.copy()
time_off_request_v.loc[(time_off_request_v['time_off_policy_id'].isin(time_off_policies['id'])),"vacation requests"] = True

In [111]:
vacation_requests_1 = time_off_request_v.loc[time_off_request_v['vacation requests'] == True]

In [112]:
vacation_requests_1.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01         1495
1   2019-02         1418
2   2019-03         1622
3   2019-04         1753
4   2019-05         2023
5   2019-06         2460
6   2019-07         3264
7   2019-08         4132
8   2019-09         2290
9   2019-10         2411
10  2019-11         2643
11  2019-12         6013
12  2020-01         3342
13  2020-02         3084
14  2020-03         2604
15  2020-04         2572
16  2020-05         3204
17  2020-06         3853
18  2020-07         6978
19  2020-08         7007
20  2020-09         5166
21  2020-10         5099
22  2020-11         5908
23  2020-12        11886
24  2021-01         3154
25  2021-02         4318
26  2021-03         5369
27  2021-04         5554
28  2021-05         6495
29  2021-06         8136
30  2021-07        14012
31  2021-08        11365
32  2021-09         3322
33  2021-10         1259
34  2021-11          747
35  2021-12         1494
36  2022-01           81
37  2022-02           42
38  2022-03           33
39  2022-04           14
40  2022-05           16
41  2022-06           13
42  2022-07           17
43  2022-08            9
44  2022-09            1
45  2022-10            2
46  2022-11            2
47  2022-12            5
48  2023-08            2
49  2024-08            2

In [113]:
time_off_types_query = "select id, `type_name` from pto_leave_types \
where `type_name` like '%vacation%'"
time_off_types = pd.read_sql_query(time_off_types_query, con=engine)

In [114]:
time_off_request_2_v = time_off_request_2.copy()
time_off_request_2_v.loc[(time_off_request_2_v['leave_type_id'].isin(time_off_types['id'])),"vacation requests"] = True

In [115]:
vacation_requests_2 = time_off_request_2_v.loc[time_off_request_2_v['vacation requests'] == True]

In [116]:
vacation_requests_2.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          245
1   2019-02          297
2   2019-03          418
3   2019-04          401
4   2019-05          491
5   2019-06          564
6   2019-07          750
7   2019-08          883
8   2019-09          488
9   2019-10          469
10  2019-11          449
11  2019-12         1000
12  2020-01          383
13  2020-02          284
14  2020-03          261
15  2020-04          151
16  2020-05          246
17  2020-06          302
18  2020-07          449
19  2020-08          417
20  2020-09          312
21  2020-10          304
22  2020-11          303
23  2020-12          565
24  2021-01           60
25  2021-02           53
26  2021-03           54
27  2021-04           21
28  2021-05           23
29  2021-06           27
30  2021-07           26
31  2021-08           15
32  2021-09           11
33  2021-10            2
34  2021-11            1
35  2021-12           11

### Sick day requests %

In [117]:
time_off_policies_query_2 = "select id, `name` from time_off_policies \
where `name` like '%sick%'"
time_off_policies_2 = pd.read_sql_query(time_off_policies_query_2, con=engine)

In [118]:
time_off_request_s = time_off_request.copy()
time_off_request_s.loc[(time_off_request_s['time_off_policy_id'].isin(time_off_policies_2['id'])),"sick requests"] = True

In [119]:
sick_requests_1 = time_off_request_s.loc[time_off_request_s['sick requests'] == True]
sick_requests_1.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          798
1   2019-02          599
2   2019-03          756
3   2019-04          723
4   2019-05          796
5   2019-06          699
6   2019-07          721
7   2019-08          705
8   2019-09          891
9   2019-10         1015
10  2019-11          990
11  2019-12         1003
12  2020-01         1979
13  2020-02         1529
14  2020-03         1427
15  2020-04          622
16  2020-05          683
17  2020-06          910
18  2020-07          959
19  2020-08          987
20  2020-09         1238
21  2020-10         1525
22  2020-11         1570
23  2020-12         1327
24  2021-01         1626
25  2021-02         1664
26  2021-03         2311
27  2021-04         2438
28  2021-05         2416
29  2021-06         2820
30  2021-07         2754
31  2021-08         1157
32  2021-09           94
33  2021-10           20
34  2021-11            5
35  2021-12            9
36  2022-02            1
37  2022-05            1
38  2024-11            1

In [120]:
time_off_types_query_2 = "select id, `type_name` from pto_leave_types \
where `type_name` like '%sick%'"
time_off_types_2 = pd.read_sql_query(time_off_types_query_2, con=engine)

In [121]:
time_off_request_2_s = time_off_request_2.copy()
time_off_request_2_s.loc[(time_off_request_2_s['leave_type_id'].isin(time_off_types_2['id'])),"sick requests"] = True
sick_requests_2 = time_off_request_2_s.loc[time_off_request_2_s['sick requests'] == True]
sick_requests_2.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          165
1   2019-02          152
2   2019-03          157
3   2019-04          150
4   2019-05          167
5   2019-06          190
6   2019-07          167
7   2019-08          189
8   2019-09          236
9   2019-10          266
10  2019-11          255
11  2019-12          257
12  2020-01          273
13  2020-02          191
14  2020-03          216
15  2020-04           61
16  2020-05           79
17  2020-06          130
18  2020-07          106
19  2020-08           91
20  2020-09           65
21  2020-10           56
22  2020-11           56
23  2020-12           56
24  2021-01           12
25  2021-02            4
26  2021-03            1
27  2021-04            2
28  2021-05            5
29  2021-06            1
30  2021-07            1
31  2021-08            1

### Vacation requests by province

join address, company, employee and time_off request datasets

In [54]:
address_query = "select id, `province` from addresses \
where `deleted_at` is NULL and country = 'Canada'"
address = pd.read_sql_query(address_query, con=engine)
address = address.rename(columns={"id":"address_id"})
address = address.astype({"address_id": str})

In [55]:
company_query = "select id, primary_address_id from companies where deleted_at is null and is_locked = '0'"
company = pd.read_sql_query(company_query, con=engine)
company = company.rename(columns={"id":"company_id","primary_address_id":"address_id"})
company = company.astype({"company_id":str,"address_id":str})
company['address_id'] = company.apply(lambda x:x['address_id'].split('.')[0], axis=1)

In [56]:
employee_query = "select id, company_id from employees where deleted_at is null"
employee = pd.read_sql_query(employee_query, con=engine)

In [57]:
employee = employee.rename(columns={"id":"employee_id"})
employee = employee.astype({"company_id": str,"employee_id":str})

In [58]:
company_address = company.merge(address, how = "left", on = "address_id")

In [59]:
employee_address = employee.merge(company_address, how = "left", on = "company_id")

In [60]:
vacation_requests_1_address = vacation_requests_1.merge(employee_address, how= "left", on="employee_id")

In [61]:
summer_requests_by_province = vacation_requests_1_address[(vacation_requests_1_address["start_at"]=="2019-06")|
                                                         (vacation_requests_1_address["start_at"]=="2019-07")|
                                                         (vacation_requests_1_address["start_at"]=="2019-08")|
                                                         (vacation_requests_1_address["start_at"]=="2020-06")|
                                                         (vacation_requests_1_address["start_at"]=="2020-07")|
                                                         (vacation_requests_1_address["start_at"]=="2020-08")|
                                                         (vacation_requests_1_address["start_at"]=="2021-06")]
#as more recent data coming, we should update data from 2021-07, 2021-08 and later ones

In [62]:
pd.set_option('display.max_rows', 500)

In [63]:
summer_requests_by_province = summer_requests_by_province.groupby(["start_at","province"],as_index=False).size()
summer_requests_by_province.pivot(index = "start_at",columns = "province",values = "size")

province      AB      BC     MB    NB    NL     NS      ON     QC     SK
start_at
2019-06     88.0   429.0   77.0   NaN   2.0   82.0  1445.0   51.0  173.0
2019-07    171.0   570.0  121.0   NaN  10.0  128.0  1795.0   68.0  253.0
2019-08    204.0   698.0  112.0   NaN   7.0  139.0  2417.0   77.0  276.0
2020-06    293.0   613.0  141.0   NaN  30.0   77.0  2263.0   74.0  198.0
2020-07    356.0   932.0  167.0   NaN  82.0  192.0  4366.0  126.0  485.0
2020-08    362.0  1019.0  175.0   NaN  67.0  184.0  4407.0  129.0  398.0
2021-06   1022.0  1142.0  136.0  13.0  99.0  200.0  4989.0  215.0  280.0

## Maternity and Paternity Leave

### % change of employees taking maternity leave/paternity leave in 2020 vs. 2021

In [64]:
import re

In [65]:
time_off_request_m = time_off_request.copy()
time_off_request_m = time_off_request.copy()
time_off_request_m['description']=time_off_request_m["description"].str.extract(r'(Maternity|Paternity)',re.IGNORECASE)
time_off_request_m = time_off_request_m.dropna(subset=['description']).reset_index()
time_off_request_m.start_at = time_off_request_m.start_at.str[0:4]
time_off_request_m.groupby("start_at",as_index=False)["employee_id"].count()

  start_at  employee_id
0     2019           20
1     2020           45
2     2021           47
3     2022            1

In [66]:
time_off_request_m_2 = time_off_request_2.copy()
time_off_request_m_2['description']=time_off_request_m_2["description"].str.extract(r'(Maternity|Paternity)',re.IGNORECASE)
time_off_request_m_2 = time_off_request_m_2.dropna(subset=['description']).reset_index()
time_off_request_m_2.start_at = time_off_request_m_2.start_at.str[0:4]
time_off_request_m_2.groupby("start_at",as_index=False)["user_id"].count()

KeyError: 'Column not found: user_id'