# # People Report Data

In [81]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

## Generational employee retention

### live employee 2021

In [83]:
employee_live_query = "select count(id), `born_on` \
from `employees` \
where `deleted_at` is null and `terminated_on` is null and hired_at != '0001-01-20 00:00:00' and hired_at != '0021-07-08 05:17:32' and hired_at != '0201-09-01 00:00:00' \
and born_on between '1943-12-31 23:59:59' and '2015-12-31 23:59:59' \
group by YEAR (`born_on`) \
order by born_on"
pd.read_sql_query(employee_live_query, con=engine)

    count(id)    born_on
0           8 1944-08-06
1          15 1945-04-14
2          18 1946-05-16
3          37 1947-01-17
4          19 1948-06-14
5          40 1949-01-27
6          39 1950-07-24
7          61 1951-05-12
8          74 1952-04-18
9          96 1953-01-07
10        114 1954-01-03
11        124 1955-09-05
12        195 1956-06-15
13        198 1957-11-22
14        227 1958-07-12
15        260 1959-09-18
16        283 1960-12-28
17        318 1961-03-21
18        344 1962-03-01
19        379 1963-02-28
20        390 1964-10-13
21        450 1965-05-04
22        374 1966-09-02
23        429 1967-07-16
24        453 1968-02-14
25        501 1969-05-27
26        646 1970-09-10
27        558 1971-08-22
28        586 1972-04-28
29        604 1973-04-10
30        619 1974-08-28
31        669 1975-11-29
32        773 1976-05-12
33        776 1977-10-24
34        855 1978-09-09
35        962 1979-04-19
36       1017 1980-04-03
37       1068 1981-06-19
38       1247 1982-09-11
39       1168 1983-07-22
40       1281 1984-10-16
41       1464 1985-06-05
42       1387 1986-11-13
43       1630 1987-05-09
44       1691 1988-12-21
45       1708 1989-06-26
46       1937 1990-11-27
47       1873 1991-01-21
48       1980 1992-05-16
49       1845 1993-06-08
50       1889 1994-08-20
51       1750 1995-07-29
52       1607 1996-08-03
53       1422 1997-02-10
54       1220 1998-10-07
55       1011 1999-07-24
56        882 2000-01-01
57        628 2001-09-04
58        368 2002-09-04
59        211 2003-09-04
60        129 2004-05-29
61         70 2005-12-01
62         45 2006-08-09
63         14 2007-08-16
64         11 2008-03-11
65         10 2009-09-08
66          8 2010-06-07
67         14 2011-05-02
68         10 2012-03-01
69          6 2013-09-06
70         10 2014-01-01
71          7 2015-10-21

### new hires generations, and by gender

In [40]:
employees_query = "select id, company_id, born_on ,hired_at, terminated_on, deleted_at, legal_sex from employees where hired_at != '3-01-03 00:00:00' \
and hired_at != '0001-01-20 00:00:00' and hired_at != '0021-07-08 05:17:32' and hired_at != '0201-09-01 00:00:00' \
and born_on between '1943-12-31 23:59:59' and '2015-12-31 23:59:59'"
employees = pd.read_sql_query(employees_query, con=engine)

In [41]:
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)

In [42]:
employees = employees.merge(company_bad_re, how="left",on="company_id")
employees = employees[employees['c_deleted'].isna()]

In [43]:
employees = employees.astype({"born_on":str})
employees.born_on = employees.born_on.str[0:4]

In [51]:
new_hires_2020 = employees[(employees['hired_at']<'2020-12-31 23:59:59')&(employees['hired_at']>'2019-12-31 23:59:59')]

In [52]:
new_hires_2021 = employees[(employees['hired_at']<'2021-12-31 23:59:59')&(employees['hired_at']>'2020-12-31 23:59:59')]

In [53]:
pd.set_option('display.max_rows', employees_2020.shape[0]+1)

In [55]:
new_hires_2020.groupby('born_on',as_index=False).size()

   born_on  size
0     1944     4
1     1945     3
2     1946     5
3     1947     4
4     1949     4
5     1950     9
6     1951    12
7     1952    10
8     1953    18
9     1954    30
10    1955    20
11    1956    36
12    1957    35
13    1958    51
14    1959    57
15    1960    60
16    1961    53
17    1962    75
18    1963    68
19    1964    91
20    1965   109
21    1966    94
22    1967    92
23    1968   127
24    1969   155
25    1970   194
26    1971   164
27    1972   154
28    1973   156
29    1974   199
30    1975   183
31    1976   218
32    1977   225
33    1978   233
34    1979   291
35    1980   290
36    1981   319
37    1982   385
38    1983   376
39    1984   381
40    1985   433
41    1986   487
42    1987   550
43    1988   587
44    1989   594
45    1990   723
46    1991   706
47    1992   770
48    1993   806
49    1994   821
50    1995   795
51    1996   845
52    1997   729
53    1998   627
54    1999   535
55    2000   457
56    2001   292
57    2002   135
58    2003    71
59    2004    68
60    2005    25
61    2006    14
62    2007     4
63    2008     3
64    2009     3
65    2010     5
66    2011     3
67    2012     3
68    2013     2
69    2014     2

In [71]:
new_hires_gender_2020 = new_hires_2020.groupby(['born_on','legal_sex'],as_index=False).size()
new_hires_gender_2020.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P    X
born_on
1944         NaN    3.0   1.0  NaN
1945         NaN    3.0   NaN  NaN
1946         2.0    3.0   NaN  NaN
1947         1.0    2.0   1.0  NaN
1949         NaN    4.0   NaN  NaN
1950         1.0    6.0   1.0  NaN
1951         4.0    8.0   NaN  NaN
1952         1.0    9.0   NaN  NaN
1953         6.0   11.0   1.0  NaN
1954        13.0   15.0   1.0  NaN
1955         6.0   12.0   NaN  NaN
1956        11.0   22.0   1.0  NaN
1957        16.0   19.0   NaN  NaN
1958        15.0   34.0   1.0  NaN
1959        16.0   39.0   1.0  NaN
1960        29.0   27.0   2.0  NaN
1961        20.0   31.0   1.0  NaN
1962        30.0   41.0   1.0  NaN
1963        29.0   33.0   2.0  NaN
1964        42.0   47.0   2.0  NaN
1965        59.0   49.0   1.0  NaN
1966        32.0   59.0   NaN  NaN
1967        44.0   46.0   1.0  NaN
1968        56.0   67.0   1.0  NaN
1969        62.0   87.0   4.0  NaN
1970        77.0   87.0  26.0  NaN
1971        76.0   83.0   1.0  NaN
1972        62.0   85.0   1.0  NaN
1973        63.0   89.0   1.0  NaN
1974        88.0  104.0   2.0  NaN
1975        83.0   94.0   3.0  NaN
1976        88.0  120.0   4.0  NaN
1977        91.0  126.0   4.0  NaN
1978        96.0  133.0   1.0  NaN
1979       115.0  169.0   3.0  NaN
1980       110.0  165.0   5.0  NaN
1981       141.0  171.0   4.0  1.0
1982       155.0  215.0   9.0  NaN
1983       160.0  210.0   3.0  NaN
1984       166.0  197.0   3.0  NaN
1985       189.0  223.0   5.0  NaN
1986       187.0  273.0  11.0  NaN
1987       216.0  311.0   6.0  NaN
1988       259.0  310.0   2.0  NaN
1989       262.0  312.0   8.0  NaN
1990       307.0  372.0  20.0  NaN
1991       328.0  347.0   5.0  NaN
1992       347.0  372.0  13.0  NaN
1993       383.0  393.0   8.0  NaN
1994       410.0  386.0   8.0  1.0
1995       391.0  361.0  15.0  NaN
1996       413.0  376.0  18.0  NaN
1997       339.0  352.0  17.0  NaN
1998       308.0  291.0  11.0  NaN
1999       210.0  296.0  10.0  1.0
2000       197.0  227.0  18.0  NaN
2001       127.0  149.0   4.0  NaN
2002        65.0   56.0   1.0  NaN
2003        36.0   31.0   NaN  NaN
2004        37.0   25.0   1.0  NaN
2005        13.0   12.0   NaN  NaN
2006         8.0    6.0   NaN  NaN
2007         3.0    1.0   NaN  NaN
2008         NaN    3.0   NaN  NaN
2009         NaN    3.0   NaN  NaN
2010         NaN    5.0   NaN  NaN
2011         NaN    2.0   1.0  NaN
2012         2.0    1.0   NaN  NaN
2013         1.0    1.0   NaN  NaN
2014         NaN    1.0   1.0  NaN

In [62]:
new_hires_2021.groupby('born_on',as_index=False).size()

   born_on  size
0     1944     1
1     1945     4
2     1946     2
3     1947     1
4     1948     5
5     1949     5
6     1950     6
7     1951     8
8     1952     7
9     1953    11
10    1954    13
11    1955    14
12    1956    27
13    1957    27
14    1958    31
15    1959    48
16    1960    45
17    1961    46
18    1962    56
19    1963    72
20    1964    72
21    1965    60
22    1966    78
23    1967    82
24    1968    98
25    1969    98
26    1970   145
27    1971   116
28    1972   145
29    1973   142
30    1974   139
31    1975   166
32    1976   186
33    1977   189
34    1978   204
35    1979   268
36    1980   271
37    1981   259
38    1982   304
39    1983   324
40    1984   371
41    1985   359
42    1986   382
43    1987   486
44    1988   488
45    1989   536
46    1990   681
47    1991   637
48    1992   727
49    1993   661
50    1994   751
51    1995   704
52    1996   732
53    1997   790
54    1998   766
55    1999   733
56    2000   694
57    2001   510
58    2002   325
59    2003   157
60    2004   100
61    2005    60
62    2006    33
63    2007     9
64    2008     6
65    2009     5
66    2010     5
67    2011     9
68    2012     6
69    2013     5
70    2014     4
71    2015     2

In [77]:
new_hires_gender_2021 = new_hires_2021.groupby(['born_on','legal_sex'],as_index=False).size()
new_hires_gender_2021.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P    X
born_on
1944         NaN    NaN   1.0  NaN
1945         2.0    2.0   NaN  NaN
1946         1.0    1.0   NaN  NaN
1947         NaN    1.0   NaN  NaN
1948         2.0    3.0   NaN  NaN
1949         1.0    4.0   NaN  NaN
1950         3.0    3.0   NaN  NaN
1951         4.0    4.0   NaN  NaN
1952         4.0    3.0   NaN  NaN
1953         4.0    7.0   NaN  NaN
1954         3.0   10.0   NaN  NaN
1955         6.0    8.0   NaN  NaN
1956        10.0   17.0   NaN  NaN
1957         9.0   18.0   NaN  NaN
1958        12.0   18.0   NaN  NaN
1959        19.0   28.0   NaN  NaN
1960        15.0   29.0   NaN  NaN
1961        15.0   29.0   2.0  NaN
1962        20.0   35.0   NaN  NaN
1963        34.0   36.0   1.0  NaN
1964        33.0   37.0   1.0  NaN
1965        27.0   33.0   NaN  NaN
1966        33.0   40.0   3.0  NaN
1967        33.0   48.0   NaN  NaN
1968        55.0   36.0   5.0  1.0
1969        31.0   66.0   1.0  NaN
1970        72.0   70.0   1.0  NaN
1971        47.0   62.0   2.0  NaN
1972        57.0   80.0   2.0  NaN
1973        67.0   72.0   NaN  NaN
1974        67.0   65.0   3.0  NaN
1975        69.0   90.0   1.0  NaN
1976        92.0   88.0   2.0  NaN
1977        84.0  100.0   2.0  NaN
1978        72.0  121.0   NaN  1.0
1979       124.0  137.0   2.0  NaN
1980       113.0  141.0   8.0  1.0
1981        93.0  155.0   6.0  NaN
1982       132.0  157.0  11.0  1.0
1983       130.0  185.0   2.0  NaN
1984       177.0  186.0   3.0  NaN
1985       157.0  187.0   8.0  NaN
1986       136.0  229.0   1.0  NaN
1987       200.0  267.0   1.0  1.0
1988       205.0  260.0   7.0  NaN
1989       253.0  264.0   5.0  NaN
1990       293.0  357.0   8.0  1.0
1991       278.0  341.0   8.0  1.0
1992       353.0  349.0  10.0  NaN
1993       310.0  322.0   6.0  2.0
1994       345.0  383.0   4.0  NaN
1995       335.0  337.0   4.0  1.0
1996       350.0  354.0   9.0  NaN
1997       362.0  380.0  11.0  1.0
1998       368.0  359.0   7.0  NaN
1999       372.0  340.0   8.0  1.0
2000       318.0  342.0  11.0  1.0
2001       232.0  255.0  10.0  1.0
2002       148.0  164.0   NaN  NaN
2003        68.0   85.0   NaN  NaN
2004        47.0   52.0   1.0  NaN
2005        37.0   19.0   NaN  NaN
2006        14.0   18.0   NaN  NaN
2007         4.0    3.0   1.0  NaN
2008         3.0    3.0   NaN  NaN
2009         NaN    5.0   NaN  NaN
2010         2.0    3.0   NaN  NaN
2011         3.0    4.0   2.0  NaN
2012         3.0    2.0   NaN  NaN
2013         1.0    4.0   NaN  NaN
2014         NaN    3.0   1.0  NaN
2015         1.0    1.0   NaN  NaN

### termination generations, and by gender

In [74]:
employees_terminated_2020 = employees[(employees["terminated_on"]>"2019-12-31 23:59:59")&(employees["terminated_on"]<"2020-12-31 23:59:59")]
employees_terminated_2021 = employees[(employees["terminated_on"]>"2020-12-31 23:59:59")&(employees["terminated_on"]<"2021-12-31 23:59:59")]

In [75]:
employees_terminated_2020.groupby('born_on',as_index=False).size()

   born_on  size
0     1944     2
1     1945     1
2     1946     2
3     1947     1
4     1948     4
5     1949     5
6     1950     6
7     1951     7
8     1952     9
9     1953    12
10    1954     9
11    1955    29
12    1956    22
13    1957    28
14    1958    28
15    1959    35
16    1960    39
17    1961    33
18    1962    36
19    1963    47
20    1964    59
21    1965    47
22    1966    54
23    1967    61
24    1968    60
25    1969    81
26    1970   184
27    1971    89
28    1972    65
29    1973    84
30    1974   104
31    1975    99
32    1976   103
33    1977   124
34    1978   121
35    1979   128
36    1980   158
37    1981   176
38    1982   202
39    1983   196
40    1984   197
41    1985   218
42    1986   276
43    1987   313
44    1988   305
45    1989   335
46    1990   405
47    1991   394
48    1992   412
49    1993   437
50    1994   446
51    1995   429
52    1996   382
53    1997   335
54    1998   330
55    1999   298
56    2000   216
57    2001   122
58    2002    49
59    2003    15
60    2004    14
61    2005     5
62    2006     1
63    2010     2
64    2012     1
65    2014     1

In [78]:
employees_terminated_gender_2020 = employees_terminated_2020.groupby(['born_on','legal_sex'],as_index=False).size()
employees_terminated_gender_2020.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P
born_on
1944         NaN    2.0   NaN
1947         NaN    1.0   NaN
1948         NaN    4.0   NaN
1949         1.0    4.0   NaN
1950         NaN    5.0   1.0
1951         3.0    4.0   NaN
1952         2.0    7.0   NaN
1953         5.0    6.0   1.0
1954         3.0    6.0   NaN
1955        11.0   16.0   1.0
1956         6.0   13.0   1.0
1957        11.0   15.0   2.0
1958         5.0   20.0   1.0
1959        12.0   22.0   NaN
1960        13.0   22.0   1.0
1961        11.0   19.0   1.0
1962        15.0   19.0   1.0
1963        20.0   24.0   1.0
1964        23.0   30.0   2.0
1965        19.0   25.0   1.0
1966        21.0   28.0   NaN
1967        21.0   34.0   2.0
1968        24.0   31.0   1.0
1969        38.0   33.0   6.0
1970        50.0   55.0  77.0
1971        30.0   51.0   3.0
1972        23.0   37.0   3.0
1973        41.0   41.0   1.0
1974        42.0   51.0   6.0
1975        38.0   50.0   4.0
1976        42.0   54.0   NaN
1977        42.0   68.0   6.0
1978        51.0   55.0   5.0
1979        45.0   68.0  10.0
1980        63.0   83.0   5.0
1981        79.0   83.0   9.0
1982        81.0  100.0   8.0
1983        80.0   97.0   8.0
1984        87.0   97.0   4.0
1985        87.0  110.0   8.0
1986       100.0  151.0   7.0
1987       114.0  167.0  13.0
1988       121.0  153.0  15.0
1989       134.0  168.0  12.0
1990       160.0  194.0  26.0
1991       168.0  191.0   9.0
1992       194.0  182.0  10.0
1993       191.0  209.0  14.0
1994       206.0  198.0  14.0
1995       194.0  203.0  12.0
1996       196.0  150.0  11.0
1997       176.0  141.0   9.0
1998       166.0  134.0  15.0
1999       125.0  150.0  13.0
2000        85.0  110.0  12.0
2001        54.0   63.0   3.0
2002        24.0   21.0   NaN
2003         7.0    7.0   1.0
2004         8.0    3.0   NaN
2005         3.0    2.0   NaN
2006         1.0    NaN   NaN
2010         NaN    2.0   NaN
2012         NaN    1.0   NaN
2014         NaN    1.0   NaN

In [76]:
employees_terminated_2021.groupby('born_on',as_index=False).size()

   born_on  size
0     1945     3
1     1946     1
2     1947     4
3     1948     3
4     1949     4
5     1950     6
6     1951    10
7     1952    17
8     1953    13
9     1954    20
10    1955    16
11    1956    27
12    1957    35
13    1958    29
14    1959    35
15    1960    37
16    1961    35
17    1962    38
18    1963    54
19    1964    45
20    1965    50
21    1966    47
22    1967    64
23    1968    71
24    1969    67
25    1970    94
26    1971    79
27    1972    91
28    1973    91
29    1974    99
30    1975    82
31    1976   100
32    1977   129
33    1978   130
34    1979   136
35    1980   137
36    1981   171
37    1982   174
38    1983   190
39    1984   227
40    1985   224
41    1986   253
42    1987   290
43    1988   354
44    1989   346
45    1990   421
46    1991   439
47    1992   446
48    1993   429
49    1994   450
50    1995   428
51    1996   428
52    1997   408
53    1998   357
54    1999   336
55    2000   304
56    2001   186
57    2002    95
58    2003    42
59    2004    29
60    2005    12
61    2006     3
62    2007     2
63    2009     1
64    2010     6
65    2011     4
66    2012     4
67    2013    30
68    2015     3

In [79]:
employees_terminated_gender_2021 = employees_terminated_2021.groupby(['born_on','legal_sex'],as_index=False).size()
employees_terminated_gender_2021.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P    X
born_on
1945         NaN    3.0   NaN  NaN
1947         2.0    1.0   NaN  NaN
1948         3.0    NaN   NaN  NaN
1949         2.0    2.0   NaN  NaN
1950         2.0    4.0   NaN  NaN
1951         4.0    5.0   NaN  NaN
1952         4.0    5.0   1.0  NaN
1953         1.0   12.0   NaN  NaN
1954         9.0    9.0   NaN  NaN
1955         5.0    9.0   NaN  NaN
1956        13.0    8.0   2.0  NaN
1957        13.0   18.0   NaN  NaN
1958        11.0   17.0   NaN  NaN
1959        12.0   22.0   1.0  NaN
1960        22.0   13.0   NaN  NaN
1961        15.0   16.0   3.0  NaN
1962        12.0   22.0   1.0  NaN
1963        23.0   26.0   1.0  NaN
1964        19.0   23.0   1.0  NaN
1965        25.0   24.0   NaN  NaN
1966        14.0   31.0   1.0  NaN
1967        22.0   35.0   1.0  NaN
1968        30.0   35.0   NaN  NaN
1969        26.0   36.0   2.0  NaN
1970        29.0   47.0   3.0  NaN
1971        29.0   40.0   NaN  NaN
1972        33.0   52.0   NaN  NaN
1973        33.0   53.0   2.0  NaN
1974        36.0   54.0   2.0  NaN
1975        31.0   46.0   NaN  NaN
1976        33.0   55.0   2.0  NaN
1977        47.0   70.0   2.0  NaN
1978        44.0   75.0   1.0  NaN
1979        51.0   74.0   1.0  NaN
1980        39.0   72.0   4.0  NaN
1981        57.0   97.0   5.0  NaN
1982        72.0   79.0   5.0  NaN
1983        66.0  103.0   2.0  NaN
1984        93.0  100.0   2.0  NaN
1985        90.0   93.0   6.0  NaN
1986        86.0  120.0   4.0  NaN
1987       108.0  138.0   6.0  NaN
1988       119.0  173.0   2.0  NaN
1989       138.0  150.0   5.0  NaN
1990       149.0  206.0   6.0  NaN
1991       163.0  209.0   4.0  NaN
1992       172.0  192.0   9.0  NaN
1993       165.0  189.0   9.0  NaN
1994       169.0  221.0   3.0  NaN
1995       186.0  187.0   5.0  NaN
1996       162.0  214.0   5.0  1.0
1997       167.0  183.0  10.0  NaN
1998       118.0  197.0   3.0  NaN
1999       114.0  181.0   5.0  NaN
2000       105.0  167.0   6.0  NaN
2001        60.0  103.0   5.0  NaN
2002        37.0   37.0   1.0  NaN
2003        12.0   26.0   NaN  NaN
2004        17.0    8.0   2.0  NaN
2005         6.0    6.0   NaN  NaN
2006         2.0    1.0   NaN  NaN
2007         2.0    NaN   NaN  NaN
2009         NaN    1.0   NaN  NaN
2010         2.0    3.0   NaN  NaN
2011         2.0    2.0   NaN  NaN
2012         1.0    2.0   NaN  NaN
2013         NaN   30.0   NaN  NaN
2015         NaN    1.0   NaN  NaN