# People Report Data

In [125]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

## Employee time off

In [126]:
#Employee data

In [127]:
employees_query = "select id as employee_id, company_id, hired_at, terminated_on, deleted_at, legal_sex, employment_type from employees where hired_at != '3-01-03 00:00:00' \
and hired_at != '0001-01-20 00:00:00' and hired_at != '0001-08-19 21:54:51' and hired_at != '0021-07-08 05:17:32' and hired_at != '0201-09-01 00:00:00'"
employees = pd.read_sql_query(employees_query, con=engine)

In [128]:
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)

In [129]:
employees = employees.merge(company_bad_re, how="left",on="company_id")
employees = employees[employees['c_deleted'].isna()]

### Total Requests 2019-2021

In [130]:
time_off_request_query ="select id, employee_id, time_off_policy_id, start_at, end_at-start_at+1 as days, description \
from time_off_requests where `deleted_at` is null and `start_at`>'2018-12-31 23:59:59' and status!='denied'"
time_off_request = pd.read_sql_query(time_off_request_query, con=engine)

In [131]:
time_off_request = time_off_request.astype({"employee_id": str,"start_at": str})

In [132]:
time_off_request_query_2 ="select user_id as employee_id, leave_type_id, start_at,description, number_of_days_away \
from pto_user_requests where `deleted_at` is null and `start_at`>'2018-12-31 23:59:59'and denied is null"
time_off_request_2 = pd.read_sql_query(time_off_request_query_2, con=engine)

In [133]:
time_off_request_2["start_at"] = time_off_request_2["start_at"].apply(lambda x: x.strftime('%Y-%m-%d'))

In [134]:
time_off_request_2 = time_off_request_2.astype({"employee_id": str,"start_at": str})

In [135]:
time_off_request['unique_id'] = time_off_request['employee_id'] + " - " + time_off_request["start_at"]

In [136]:
time_off_request_2['unique_id'] = time_off_request_2['employee_id'] + " - " + time_off_request_2["start_at"]

In [137]:
time_off_request_2['exists'] = time_off_request_2['unique_id'].isin(time_off_request['unique_id'])
time_off_request_2 = time_off_request_2[time_off_request_2['exists'] == False].drop(['exists'],axis=1)

In [138]:
time_off_request.start_at = time_off_request.start_at.str[0:7]

In [139]:
employees_full_time = employees[employees['employment_type']=='full-time']
employees_full_time = employees_full_time.astype({"employee_id": str})

In [140]:
time_off_request['full-time'] = time_off_request['employee_id'].isin(employees_full_time['employee_id'])
time_off_request = time_off_request[time_off_request['full-time'] == True]

In [141]:
time_off_request_2.start_at = time_off_request_2.start_at.str[0:7]

In [142]:
time_off_request_2['full-time'] = time_off_request_2['employee_id'].isin(employees_full_time['employee_id'])
time_off_request_2 = time_off_request_2[time_off_request_2['full-time'] == True]

In [143]:
time_off_request.groupby("start_at",as_index=False).size()

   start_at   size
0   2019-01   3685
1   2019-02   3480
2   2019-03   3885
3   2019-04   4064
4   2019-05   4592
5   2019-06   5091
6   2019-07   6059
7   2019-08   6920
8   2019-09   5278
9   2019-10   5975
10  2019-11   6303
11  2019-12  10510
12  2020-01   9251
13  2020-02   8080
14  2020-03   7925
15  2020-04   4938
16  2020-05   5495
17  2020-06   6892
18  2020-07  10739
19  2020-08  10944
20  2020-09   9298
21  2020-10   9643
22  2020-11  10652
23  2020-12  17786
24  2021-01   8164
25  2021-02  10583
26  2021-03  13629
27  2021-04  13800
28  2021-05  14860
29  2021-06  18014
30  2021-07  23155
31  2021-08   9196
32  2021-09   2628
33  2021-10   1160
34  2021-11    837
35  2021-12   1666
36  2022-01     94
37  2022-02     49
38  2022-03     39
39  2022-04     21
40  2022-05     23
41  2022-06     14
42  2022-07     15
43  2022-08      6
44  2022-10      2
45  2022-12      3
46  2023-04      1
47  2023-08      2
48  2024-08      2
49  2024-11      1

In [144]:
time_off_request_2.groupby("start_at",as_index=False).size()

   start_at  size
0   2019-01   677
1   2019-02   711
2   2019-03   814
3   2019-04   810
4   2019-05   922
5   2019-06  1079
6   2019-07  1258
7   2019-08  1494
8   2019-09  1133
9   2019-10  1238
10  2019-11  1218
11  2019-12  1887
12  2020-01  1144
13  2020-02   812
14  2020-03   910
15  2020-04   349
16  2020-05   456
17  2020-06   559
18  2020-07   858
19  2020-08   768
20  2020-09   567
21  2020-10   449
22  2020-11   437
23  2020-12   712
24  2021-01   102
25  2021-02    73
26  2021-03    68
27  2021-04    26
28  2021-05    34
29  2021-06    31
30  2021-07    27
31  2021-08    15
32  2021-09     7
33  2021-10     3
34  2021-11     2
35  2021-12    11

### employees live

In [145]:
#employee dynamics by month

In [146]:
employees_flive = employees[employees['employment_type']=='full-time']
employees_hired = employees_flive[employees_flive['hired_at']>'2018-12-31 23:59:59']
employees_hired=employees_hired.astype({'hired_at': str})

In [147]:
employees_hired.hired_at = employees_hired.hired_at.str[0:7]
employees_hired.groupby('hired_at', as_index=False).size()

   hired_at  size
0   2019-01  1100
1   2019-02   749
2   2019-03   790
3   2019-04  1099
4   2019-05  1018
5   2019-06   951
6   2019-07  1050
7   2019-08  1008
8   2019-09  1339
9   2019-10  1114
10  2019-11   922
11  2019-12   645
12  2020-01  1228
13  2020-02   895
14  2020-03   876
15  2020-04   558
16  2020-05   731
17  2020-06   885
18  2020-07   995
19  2020-08  1273
20  2020-09  1403
21  2020-10  1351
22  2020-11  1420
23  2020-12   805
24  2021-01  1615
25  2021-02  1346
26  2021-03  1758
27  2021-04  1465
28  2021-05  1820
29  2021-06  1678
30  2021-07  1287
31  2021-08   203
32  2021-09    29
33  2021-10     4
34  2021-11     2
35  2021-12     2
36  2022-01     2
37  2022-02     1
38  2024-03     1
39  2024-04     1

In [148]:
employees_terminated = employees_flive[employees_flive['terminated_on'].isna() == False]
employees_terminated = employees_terminated[employees_terminated['terminated_on']>'2018-12-31 23:59:59']
employees_deleted = employees_flive[employees_flive['deleted_at'].isna() == False]
employees_deleted = employees_deleted[employees_deleted['deleted_at']>'2018-12-31 23:59:59']

In [149]:
employees_terminated=employees_terminated.astype({'terminated_on': str})
employees_terminated.terminated_on = employees_terminated.terminated_on.str[0:7]

employees_deleted=employees_deleted.astype({'deleted_at': str})

employees_deleted.deleted_at = employees_deleted.deleted_at.str[0:7]

In [150]:
employees_terminated.groupby('terminated_on', as_index=False).size()

   terminated_on  size
0        2019-01   233
1        2019-02   167
2        2019-03   224
3        2019-04   236
4        2019-05   332
5        2019-06   287
6        2019-07   262
7        2019-08   359
8        2019-09   329
9        2019-10   307
10       2019-11   374
11       2019-12   243
12       2020-01   374
13       2020-02   356
14       2020-03   429
15       2020-04   411
16       2020-05   287
17       2020-06   312
18       2020-07   288
19       2020-08   396
20       2020-09   679
21       2020-10  1086
22       2020-11   887
23       2020-12   765
24       2021-01   748
25       2021-02   797
26       2021-03  1025
27       2021-04  1012
28       2021-05  1164
29       2021-06  1075
30       2021-07   698

In [151]:
employees_deleted.groupby('deleted_at', as_index=False).size()

   deleted_at  size
0     2019-01    72
1     2019-02   124
2     2019-03    72
3     2019-04   210
4     2019-05   171
5     2019-06   217
6     2019-07   147
7     2019-08    84
8     2019-09    90
9     2019-10   435
10    2019-11   336
11    2019-12    45
12    2020-01   259
13    2020-02   331
14    2020-03   138
15    2020-04   186
16    2020-05    62
17    2020-06   222
18    2020-07   149
19    2020-08   113
20    2020-09   108
21    2020-10   184
22    2020-11   172
23    2020-12   165
24    2021-01   173
25    2021-02   117
26    2021-03   378
27    2021-04   308
28    2021-05   292
29    2021-06   191
30    2021-07   116

### Request days

In [152]:
time_off_request_days = "select default_amount, date, time_off_request_id as id from time_off_request_days \
where `date`>'2018-12-31 23:59:59' and deleted_at is null"
time_off_request_days = pd.read_sql_query(time_off_request_days, con=engine)

In [153]:
time_off_request_days['full-time'] = time_off_request_days['id'].isin(time_off_request['id'])
time_off_request_days = time_off_request_days[time_off_request_days['full-time'] == True]

In [155]:
time_off_request_days = time_off_request_days.astype({"date": str}) 
time_off_request_days.date = time_off_request_days.date.str[0:7]

In [156]:
time_off_request_days.groupby("date", as_index=False)["default_amount"].sum()

       date  default_amount
0   2019-01          6604.0
1   2019-02          6386.0
2   2019-03          7431.0
3   2019-04          7139.0
4   2019-05          8572.0
5   2019-06          8823.0
6   2019-07         13204.0
7   2019-08         15608.0
8   2019-09          9871.0
9   2019-10         10203.0
10  2019-11         10691.0
11  2019-12         19140.0
12  2020-01         16997.0
13  2020-02         14284.0
14  2020-03         17013.0
15  2020-04          9648.0
16  2020-05          9000.0
17  2020-06         11990.0
18  2020-07         20618.0
19  2020-08         22656.0
20  2020-09         17082.0
21  2020-10         15598.0
22  2020-11         16938.0
23  2020-12         37272.0
24  2021-01         14904.0
25  2021-02         16542.0
26  2021-03         21966.0
27  2021-04         21562.0
28  2021-05         22699.0
29  2021-06         29666.0
30  2021-07         46193.0
31  2021-08         32332.0
32  2021-09         10625.0
33  2021-10          4523.0
34  2021-11          3261.0
35  2021-12          6486.0
36  2022-01          1145.0
37  2022-02           678.0
38  2022-03           578.0
39  2022-04           385.0
40  2022-05           322.0
41  2022-06           254.0
42  2022-07           195.0
43  2022-08           140.0
44  2022-09            70.0
45  2022-10            53.0
46  2022-11            22.0
47  2022-12            32.0
48  2023-01            19.0
49  2023-04            15.0
50  2023-08            16.0
51  2024-08            16.0
52  2024-11             3.0

In [119]:
time_off_request_2.groupby("start_at", as_index=False)["number_of_days_away"].sum()

   start_at  number_of_days_away
0   2019-01              1303.46
1   2019-02              2112.67
2   2019-03              1799.67
3   2019-04              1746.75
4   2019-05              2303.50
5   2019-06              2912.50
6   2019-07              3403.25
7   2019-08              4156.25
8   2019-09              2325.00
9   2019-10              2316.25
10  2019-11              2223.00
11  2019-12              5518.50
12  2020-01              2656.00
13  2020-02              1642.25
14  2020-03              3328.25
15  2020-04              1289.25
16  2020-05               873.25
17  2020-06              1115.00
18  2020-07              1823.75
19  2020-08              1761.50
20  2020-09              1259.50
21  2020-10               773.00
22  2020-11              1215.50
23  2020-12              2390.75
24  2021-01              1034.00
25  2021-02               202.75
26  2021-03               411.25
27  2021-04               159.50
28  2021-05               133.50
29  2021-06               137.50
30  2021-07               131.50
31  2021-08               121.00
32  2021-09                41.00
33  2021-10                10.00
34  2021-11                 2.00
35  2021-12               101.00

### Vacation requests %

In [157]:
time_off_policies_query = "select id, `name` from time_off_policies \
where `name` like '%vacation%'"
time_off_policies = pd.read_sql_query(time_off_policies_query, con=engine)

In [158]:
time_off_request_v = time_off_request.copy()
time_off_request_v.loc[(time_off_request_v['time_off_policy_id'].isin(time_off_policies['id'])),"vacation requests"] = True

In [159]:
vacation_requests_1 = time_off_request_v.loc[time_off_request_v['vacation requests'] == True]

In [160]:
vacation_requests_1.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01         1495
1   2019-02         1418
2   2019-03         1622
3   2019-04         1753
4   2019-05         2023
5   2019-06         2458
6   2019-07         3264
7   2019-08         4132
8   2019-09         2290
9   2019-10         2411
10  2019-11         2643
11  2019-12         6013
12  2020-01         3342
13  2020-02         3084
14  2020-03         2606
15  2020-04         2573
16  2020-05         3204
17  2020-06         3854
18  2020-07         6976
19  2020-08         7007
20  2020-09         5167
21  2020-10         5099
22  2020-11         5906
23  2020-12        11886
24  2021-01         3141
25  2021-02         4302
26  2021-03         5366
27  2021-04         5539
28  2021-05         6475
29  2021-06         8125
30  2021-07        13363
31  2021-08         6875
32  2021-09         1910
33  2021-10          871
34  2021-11          583
35  2021-12         1285
36  2022-01           55
37  2022-02           30
38  2022-03           20
39  2022-04           13
40  2022-05           16
41  2022-06           11
42  2022-07           12
43  2022-08            6
44  2022-10            1
45  2022-12            3
46  2023-08            2
47  2024-08            2

In [161]:
time_off_types_query = "select id, `type_name` from pto_leave_types \
where `type_name` like '%vacation%'"
time_off_types = pd.read_sql_query(time_off_types_query, con=engine)

In [162]:
time_off_request_2_v = time_off_request_2.copy()
time_off_request_2_v.loc[(time_off_request_2_v['leave_type_id'].isin(time_off_types['id'])),"vacation requests"] = True

In [163]:
vacation_requests_2 = time_off_request_2_v.loc[time_off_request_2_v['vacation requests'] == True]

In [165]:
vacation_requests_2.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          245
1   2019-02          297
2   2019-03          418
3   2019-04          401
4   2019-05          491
5   2019-06          564
6   2019-07          750
7   2019-08          883
8   2019-09          488
9   2019-10          469
10  2019-11          449
11  2019-12         1000
12  2020-01          382
13  2020-02          284
14  2020-03          259
15  2020-04          149
16  2020-05          246
17  2020-06          302
18  2020-07          448
19  2020-08          413
20  2020-09          311
21  2020-10          304
22  2020-11          303
23  2020-12          565
24  2021-01           60
25  2021-02           53
26  2021-03           54
27  2021-04           21
28  2021-05           23
29  2021-06           27
30  2021-07           23
31  2021-08           13
32  2021-09            7
33  2021-10            2
34  2021-11            1
35  2021-12           11

### Sick day requests %

In [166]:
time_off_policies_query_2 = "select id, `name` from time_off_policies \
where `name` like '%sick%'"
time_off_policies_2 = pd.read_sql_query(time_off_policies_query_2, con=engine)

In [167]:
time_off_request_s = time_off_request.copy()
time_off_request_s.loc[(time_off_request_s['time_off_policy_id'].isin(time_off_policies_2['id'])),"sick requests"] = True

In [168]:
sick_requests_1 = time_off_request_s.loc[time_off_request_s['sick requests'] == True]
sick_requests_1.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          798
1   2019-02          599
2   2019-03          756
3   2019-04          723
4   2019-05          796
5   2019-06          699
6   2019-07          721
7   2019-08          703
8   2019-09          891
9   2019-10         1014
10  2019-11          989
11  2019-12         1001
12  2020-01         1977
13  2020-02         1528
14  2020-03         1427
15  2020-04          622
16  2020-05          683
17  2020-06          910
18  2020-07          959
19  2020-08          987
20  2020-09         1238
21  2020-10         1525
22  2020-11         1570
23  2020-12         1325
24  2021-01         1624
25  2021-02         1656
26  2021-03         2313
27  2021-04         2431
28  2021-05         2414
29  2021-06         2811
30  2021-07         2224
31  2021-08           91
32  2021-09           33
33  2021-10           14
34  2021-11            4
35  2021-12            4
36  2022-05            1
37  2024-11            1

In [169]:
time_off_types_query_2 = "select id, `type_name` from pto_leave_types \
where `type_name` like '%sick%'"
time_off_types_2 = pd.read_sql_query(time_off_types_query_2, con=engine)

In [171]:
time_off_request_2_s = time_off_request_2.copy()
time_off_request_2_s.loc[(time_off_request_2_s['leave_type_id'].isin(time_off_types_2['id'])),"sick requests"] = True
sick_requests_2 = time_off_request_2_s.loc[time_off_request_2_s['sick requests'] == True]
sick_requests_2.groupby("start_at",as_index=False)["employee_id"].count()

   start_at  employee_id
0   2019-01          165
1   2019-02          152
2   2019-03          157
3   2019-04          150
4   2019-05          167
5   2019-06          190
6   2019-07          167
7   2019-08          189
8   2019-09          236
9   2019-10          266
10  2019-11          255
11  2019-12          257
12  2020-01          273
13  2020-02          191
14  2020-03          216
15  2020-04           61
16  2020-05           79
17  2020-06          130
18  2020-07          106
19  2020-08           91
20  2020-09           65
21  2020-10           56
22  2020-11           56
23  2020-12           56
24  2021-01           12
25  2021-02            4
26  2021-03            1
27  2021-04            2
28  2021-05            5
29  2021-06            1
30  2021-07            1
31  2021-08            1

### Vacation requests by province

join address, company, employee and time_off request datasets

In [38]:
address_query = "select id, `province` from addresses \
where `deleted_at` is NULL and country = 'Canada'"
address = pd.read_sql_query(address_query, con=engine)
address = address.rename(columns={"id":"address_id"})
address = address.astype({"address_id": str})

In [39]:
company_query = "select id, primary_address_id from companies where deleted_at is null and is_locked = '0'"
company = pd.read_sql_query(company_query, con=engine)
company = company.rename(columns={"id":"company_id","primary_address_id":"address_id"})
company = company.astype({"company_id":str,"address_id":str})
company['address_id'] = company.apply(lambda x:x['address_id'].split('.')[0], axis=1)

In [40]:
employee_query = "select id, company_id from employees where deleted_at is null"
employee = pd.read_sql_query(employee_query, con=engine)

In [41]:
employee = employee.rename(columns={"id":"employee_id"})
employee = employee.astype({"company_id": str,"employee_id":str})

In [42]:
company_address = company.merge(address, how = "left", on = "address_id")

In [43]:
employee_address = employee.merge(company_address, how = "left", on = "company_id")

In [44]:
vacation_requests_1_address = vacation_requests_1.merge(employee_address, how= "left", on="employee_id")

In [45]:
summer_requests_by_province = vacation_requests_1_address[(vacation_requests_1_address["start_at"]=="2019-06")|
                                                         (vacation_requests_1_address["start_at"]=="2019-07")|
                                                         (vacation_requests_1_address["start_at"]=="2019-08")|
                                                         (vacation_requests_1_address["start_at"]=="2020-06")|
                                                         (vacation_requests_1_address["start_at"]=="2020-07")|
                                                         (vacation_requests_1_address["start_at"]=="2020-08")|
                                                         (vacation_requests_1_address["start_at"]=="2021-06")]
#as more recent data coming, we should update data from 2021-07, 2021-08 and later ones

In [46]:
pd.set_option('display.max_rows', 500)

In [47]:
summer_requests_by_province = summer_requests_by_province.groupby(["start_at","province"],as_index=False).size()
summer_requests_by_province.pivot(index = "start_at",columns = "province",values = "size")

province      AB      BC     MB    NB     NL     NS      ON     QC     SK
start_at
2019-06     99.0   456.0   78.0   NaN    2.0   82.0  1531.0   51.0  197.0
2019-07    180.0   611.0  125.0   NaN   10.0  128.0  1927.0   70.0  312.0
2019-08    213.0   744.0  118.0   NaN    7.0  139.0  2554.0   78.0  325.0
2020-06    302.0   635.0  146.0   NaN   30.0   77.0  2351.0   82.0  230.0
2020-07    365.0   966.0  182.0   NaN   82.0  195.0  4499.0  133.0  560.0
2020-08    371.0  1074.0  188.0   NaN   67.0  188.0  4583.0  134.0  442.0
2021-06   1087.0  1198.0  147.0  13.0  100.0  202.0  5233.0  225.0  348.0

## Maternity and Paternity Leave

### % change of employees taking maternity leave/paternity leave in 2020 vs. 2021

In [48]:
import re

In [49]:
time_off_request_m = time_off_request.copy()
time_off_request_m = time_off_request.copy()
time_off_request_m['description']=time_off_request_m["description"].str.extract(r'(Maternity|Paternity)',re.IGNORECASE)
time_off_request_m = time_off_request_m.dropna(subset=['description']).reset_index()
time_off_request_m.start_at = time_off_request_m.start_at.str[0:4]
time_off_request_m.groupby("start_at",as_index=False)["employee_id"].count()

  start_at  employee_id
0     2019           24
1     2020           60
2     2021           50
3     2022            1

In [50]:
time_off_request_m_2 = time_off_request_2.copy()
time_off_request_m_2['description']=time_off_request_m_2["description"].str.extract(r'(Maternity|Paternity)',re.IGNORECASE)
time_off_request_m_2 = time_off_request_m_2.dropna(subset=['description']).reset_index()
time_off_request_m_2.start_at = time_off_request_m_2.start_at.str[0:4]
time_off_request_m_2.groupby("start_at",as_index=False)["user_id"].count()

  start_at  user_id
0     2020        5
1     2021        2