# # People Report Data

In [31]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

## Generational employee retention

### live employee 2021

In [32]:
employee_live_query = "select count(id), `born_on` \
from `employees` \
where `deleted_at` is null and `terminated_on` is null and hired_at != '0001-01-20 00:00:00' and hired_at != '0021-07-08 05:17:32' and hired_at != '0201-09-01 00:00:00' \
and born_on between '1943-12-31 23:59:59' and '2015-12-31 23:59:59' \
group by YEAR (`born_on`) \
order by born_on"
pd.read_sql_query(employee_live_query, con=engine)

    count(id)    born_on
0           8 1944-08-06
1          15 1945-04-14
2          18 1946-05-16
3          36 1947-01-17
4          19 1948-06-14
5          42 1949-01-27
6          42 1950-07-24
7          62 1951-05-12
8          79 1952-08-22
9         101 1953-01-07
10        121 1954-01-03
11        132 1955-09-05
12        208 1956-06-15
13        202 1957-11-22
14        244 1958-07-12
15        272 1959-09-18
16        293 1960-12-28
17        326 1961-03-21
18        364 1962-03-01
19        401 1963-02-28
20        401 1964-10-13
21        466 1965-05-04
22        399 1966-09-02
23        455 1967-07-16
24        462 1968-02-14
25        523 1969-05-27
26        672 1970-09-10
27        569 1971-08-22
28        612 1972-04-28
29        623 1973-04-10
30        644 1974-08-28
31        701 1975-11-29
32        797 1976-05-12
33        801 1977-10-24
34        903 1978-09-09
35        988 1979-04-19
36       1060 1980-04-03
37       1101 1981-06-19
38       1272 1982-09-11
39       1211 1983-07-22
40       1314 1984-10-16
41       1492 1985-06-05
42       1452 1986-11-13
43       1667 1987-05-09
44       1758 1988-12-21
45       1771 1989-06-26
46       1979 1990-11-27
47       1945 1991-01-21
48       2065 1992-05-16
49       1902 1993-06-08
50       1964 1994-08-20
51       1846 1995-07-29
52       1705 1996-08-03
53       1515 1997-02-10
54       1288 1998-10-07
55       1035 1999-07-24
56        908 2000-01-01
57        622 2001-09-04
58        376 2002-09-04
59        233 2003-09-04
60        141 2004-05-29
61         90 2005-12-01
62         56 2006-08-09
63         19 2007-08-16
64         13 2008-03-11
65          9 2009-09-08
66         11 2010-06-07
67         15 2011-05-02
68         11 2012-03-01
69          9 2013-09-06
70         10 2014-01-01
71          7 2015-10-21

### new hires generations, and by gender

In [52]:
employees_query = "select id, company_id, born_on ,hired_at, terminated_on, deleted_at, legal_sex from employees where hired_at != '3-01-03 00:00:00' \
and hired_at != '0001-01-20 00:00:00' and hired_at != '0021-07-08 05:17:32' and hired_at != '0201-09-01 00:00:00' \
and born_on between '1943-12-31 23:59:59' and '2015-12-31 23:59:59'"
employees = pd.read_sql_query(employees_query, con=engine)

In [53]:
company_bad_re_query = "select id as company_id, deleted_at as c_deleted from companies where deleted_at is not null"
company_bad_re = pd.read_sql_query(company_bad_re_query,con=engine)

In [54]:
employees = employees.merge(company_bad_re, how="left",on="company_id")
employees = employees[employees['c_deleted'].isna()]

In [55]:
employees = employees.astype({"born_on":str})
employees.born_on = employees.born_on.str[0:4]

In [56]:
employees.loc[employees['terminated_on'].isna()==False,'deleted_at'] = np.nan

In [57]:
employees

,id,company_id,born_on,hired_at,terminated_on,deleted_at,legal_sex,c_deleted
0,190,8,1990,2017-03-06 00:00:00,2019-11-22 00:00:00,NaT,F,NaT
1,198,2,1990,2018-05-28 00:00:00,NaT,NaT,M,NaT
2,200,2,1993,2018-05-29 00:00:00,NaT,NaT,M,NaT
3,201,9,1977,2014-11-24 00:00:00,2020-07-14 00:00:00,NaT,F,NaT
4,204,8,1992,2016-07-28 00:00:00,NaT,NaT,M,NaT
...,...,...,...,...,...,...,...,...
72999,95544,1394,1993,2021-08-16 06:00:00,NaT,NaT,F,NaT
73000,95560,1901,2002,2021-08-16 04:00:00,NaT,NaT,M,NaT
73001,95561,2586,1954,2019-09-01 06:00:00,2021-08-16 23:09:16,NaT,None,NaT
73002,95562,2586,1995,2020-07-14 06:00:00,2021-08-16 23:12:41,NaT,None,NaT
73003,95564,2380,1990,2021-08-16 07:00:00,NaT,NaT,F,NaT

In [58]:
new_hires_2020 = employees[(employees['hired_at']<'2020-12-31 23:59:59')&(employees['hired_at']>'2019-12-31 23:59:59')]

In [59]:
new_hires_2021 = employees[(employees['hired_at']<'2021-12-31 23:59:59')&(employees['hired_at']>'2020-12-31 23:59:59')]

In [60]:
pd.options.display.max_rows = 999

In [61]:
new_hires_2020.groupby('born_on',as_index=False).size()

   born_on  size
0     1944     4
1     1945     3
2     1946     5
3     1947     4
4     1949     4
5     1950     9
6     1951    12
7     1952    11
8     1953    18
9     1954    30
10    1955    20
11    1956    37
12    1957    36
13    1958    51
14    1959    57
15    1960    60
16    1961    54
17    1962    77
18    1963    70
19    1964    92
20    1965   112
21    1966    94
22    1967    93
23    1968   130
24    1969   160
25    1970   197
26    1971   168
27    1972   159
28    1973   159
29    1974   205
30    1975   188
31    1976   221
32    1977   229
33    1978   242
34    1979   294
35    1980   296
36    1981   323
37    1982   396
38    1983   379
39    1984   387
40    1985   439
41    1986   497
42    1987   558
43    1988   593
44    1989   604
45    1990   737
46    1991   715
47    1992   790
48    1993   816
49    1994   842
50    1995   814
51    1996   858
52    1997   750
53    1998   640
54    1999   537
55    2000   461
56    2001   295
57    2002   138
58    2003    71
59    2004    67
60    2005    25
61    2006    14
62    2007     4
63    2008     3
64    2009     3
65    2010     5
66    2011     3
67    2012     3
68    2013     2
69    2014     2

In [62]:
new_hires_gender_2020 = new_hires_2020.groupby(['born_on','legal_sex'],as_index=False).size()
new_hires_gender_2020.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P    X
born_on
1944         NaN    3.0   1.0  NaN
1945         NaN    3.0   NaN  NaN
1946         2.0    3.0   NaN  NaN
1947         1.0    2.0   1.0  NaN
1949         NaN    4.0   NaN  NaN
1950         1.0    6.0   1.0  NaN
1951         4.0    8.0   NaN  NaN
1952         1.0   10.0   NaN  NaN
1953         6.0   11.0   1.0  NaN
1954        13.0   15.0   1.0  NaN
1955         6.0   12.0   NaN  NaN
1956        12.0   22.0   1.0  NaN
1957        16.0   20.0   NaN  NaN
1958        15.0   34.0   1.0  NaN
1959        16.0   39.0   1.0  NaN
1960        29.0   28.0   1.0  NaN
1961        22.0   31.0   1.0  NaN
1962        31.0   42.0   1.0  NaN
1963        30.0   33.0   2.0  NaN
1964        42.0   48.0   2.0  NaN
1965        61.0   50.0   1.0  NaN
1966        32.0   59.0   NaN  NaN
1967        44.0   47.0   1.0  NaN
1968        58.0   68.0   1.0  NaN
1969        66.0   87.0   4.0  NaN
1970        76.0   91.0  26.0  NaN
1971        78.0   85.0   1.0  NaN
1972        66.0   87.0   1.0  NaN
1973        65.0   89.0   1.0  NaN
1974        89.0  107.0   2.0  NaN
1975        86.0   96.0   3.0  NaN
1976        90.0  121.0   5.0  NaN
1977        92.0  128.0   4.0  NaN
1978        99.0  137.0   1.0  NaN
1979       117.0  172.0   2.0  NaN
1980       116.0  166.0   5.0  NaN
1981       143.0  173.0   4.0  1.0
1982       159.0  223.0  10.0  NaN
1983       162.0  211.0   3.0  NaN
1984       170.0  199.0   3.0  NaN
1985       194.0  227.0   5.0  NaN
1986       193.0  276.0  14.0  NaN
1987       224.0  315.0   5.0  NaN
1988       263.0  313.0   2.0  NaN
1989       265.0  321.0   8.0  NaN
1990       313.0  379.0  21.0  NaN
1991       331.0  353.0   5.0  NaN
1992       356.0  382.0  18.0  NaN
1993       386.0  397.0   8.0  NaN
1994       418.0  395.0  10.0  1.0
1995       401.0  365.0  17.0  NaN
1996       419.0  382.0  21.0  NaN
1997       351.0  357.0  23.0  NaN
1998       318.0  293.0  13.0  NaN
1999       212.0  296.0  10.0  1.0
2000       200.0  230.0  18.0  NaN
2001       128.0  149.0   5.0  NaN
2002        66.0   57.0   1.0  NaN
2003        36.0   30.0   NaN  NaN
2004        36.0   25.0   1.0  NaN
2005        13.0   12.0   NaN  NaN
2006         8.0    6.0   NaN  NaN
2007         3.0    1.0   NaN  NaN
2008         NaN    3.0   NaN  NaN
2009         NaN    3.0   NaN  NaN
2010         NaN    5.0   NaN  NaN
2011         NaN    2.0   1.0  NaN
2012         2.0    1.0   NaN  NaN
2013         1.0    1.0   NaN  NaN
2014         NaN    1.0   1.0  NaN

In [64]:
new_hires_2021.groupby('born_on',as_index=False).size()

   born_on  size
0     1944     1
1     1945     4
2     1946     2
3     1947     1
4     1948     5
5     1949     5
6     1950     8
7     1951     9
8     1952     7
9     1953    12
10    1954    16
11    1955    18
12    1956    28
13    1957    31
14    1958    38
15    1959    53
16    1960    52
17    1961    49
18    1962    64
19    1963    90
20    1964    80
21    1965    74
22    1966    93
23    1967    99
24    1968   110
25    1969   115
26    1970   163
27    1971   132
28    1972   162
29    1973   163
30    1974   172
31    1975   191
32    1976   208
33    1977   218
34    1978   243
35    1979   301
36    1980   315
37    1981   296
38    1982   342
39    1983   368
40    1984   417
41    1985   417
42    1986   454
43    1987   538
44    1988   578
45    1989   626
46    1990   771
47    1991   761
48    1992   844
49    1993   768
50    1994   861
51    1995   841
52    1996   887
53    1997   936
54    1998   898
55    1999   837
56    2000   780
57    2001   557
58    2002   364
59    2003   198
60    2004   119
61    2005    87
62    2006    45
63    2007    14
64    2008     8
65    2009     4
66    2010    10
67    2011    10
68    2012     8
69    2013     8
70    2014     4
71    2015     2

In [65]:
new_hires_gender_2021 = new_hires_2021.groupby(['born_on','legal_sex'],as_index=False).size()
new_hires_gender_2021.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex           F      M     P    X
born_on
1944       NaN    NaN    NaN   1.0  NaN
1945       NaN    2.0    2.0   NaN  NaN
1946       NaN    1.0    1.0   NaN  NaN
1947       NaN    NaN    1.0   NaN  NaN
1948       NaN    2.0    3.0   NaN  NaN
1949       NaN    1.0    4.0   NaN  NaN
1950       NaN    5.0    3.0   NaN  NaN
1951       NaN    4.0    5.0   NaN  NaN
1952       NaN    4.0    3.0   NaN  NaN
1953       NaN    4.0    8.0   NaN  NaN
1954       NaN    5.0   11.0   NaN  NaN
1955       NaN    8.0   10.0   NaN  NaN
1956       NaN   11.0   17.0   NaN  NaN
1957       NaN   12.0   19.0   NaN  NaN
1958       NaN   16.0   22.0   NaN  NaN
1959       NaN   23.0   29.0   NaN  NaN
1960       NaN   17.0   34.0   NaN  NaN
1961       NaN   15.0   32.0   2.0  NaN
1962       NaN   24.0   39.0   NaN  NaN
1963       NaN   41.0   48.0   1.0  NaN
1964       NaN   38.0   40.0   1.0  NaN
1965       NaN   32.0   42.0   NaN  NaN
1966       NaN   42.0   47.0   3.0  NaN
1967       NaN   41.0   57.0   NaN  NaN
1968       NaN   64.0   39.0   5.0  1.0
1969       NaN   36.0   78.0   1.0  NaN
1970       NaN   79.0   79.0   2.0  NaN
1971       NaN   57.0   69.0   3.0  NaN
1972       NaN   66.0   87.0   2.0  NaN
1973       NaN   74.0   85.0   1.0  1.0
1974       NaN   88.0   80.0   1.0  NaN
1975       NaN   85.0   99.0   1.0  1.0
1976       NaN   99.0  105.0   2.0  NaN
1977       NaN   98.0  112.0   2.0  NaN
1978       NaN   90.0  143.0   NaN  1.0
1979       NaN  142.0  151.0   3.0  NaN
1980       NaN  134.0  163.0   9.0  1.0
1981       NaN  115.0  169.0   6.0  NaN
1982       NaN  149.0  177.0  12.0  NaN
1983       NaN  154.0  207.0   2.0  NaN
1984       NaN  200.0  208.0   3.0  NaN
1985       NaN  182.0  221.0   7.0  NaN
1986       NaN  169.0  269.0   2.0  1.0
1987       NaN  224.0  298.0   1.0  1.0
1988       NaN  246.0  309.0   5.0  1.0
1989       NaN  298.0  313.0   5.0  NaN
1990       NaN  341.0  403.0   7.0  1.0
1991       NaN  330.0  411.0  10.0  1.0
1992       NaN  412.0  405.0  10.0  NaN
1993       NaN  359.0  378.0   6.0  2.0
1994       NaN  399.0  441.0   8.0  NaN
1995       NaN  399.0  413.0   6.0  1.0
1996       NaN  416.0  439.0  11.0  NaN
1997       NaN  429.0  458.0  16.0  2.0
1998       NaN  450.0  413.0  10.0  2.0
1999       NaN  428.0  381.0  12.0  1.0
2000       1.0  367.0  376.0  16.0  1.0
2001       NaN  254.0  280.0  11.0  1.0
2002       NaN  175.0  176.0   1.0  NaN
2003       NaN   91.0  106.0   NaN  NaN
2004       NaN   57.0   60.0   1.0  NaN
2005       NaN   55.0   28.0   NaN  NaN
2006       NaN   17.0   26.0   NaN  NaN
2007       NaN    6.0    5.0   1.0  NaN
2008       NaN    4.0    4.0   NaN  NaN
2009       NaN    NaN    4.0   NaN  NaN
2010       NaN    6.0    4.0   NaN  NaN
2011       NaN    4.0    4.0   2.0  NaN
2012       NaN    5.0    2.0   NaN  NaN
2013       NaN    1.0    5.0   NaN  2.0
2014       NaN    NaN    3.0   1.0  NaN
2015       NaN    1.0    1.0   NaN  NaN

### termination generations, and by gender

In [66]:
employees_terminated_2020 = employees[(employees["terminated_on"]>"2019-12-31 23:59:59")&(employees["terminated_on"]<"2020-12-31 23:59:59")]
employees_terminated_2021 = employees[(employees["terminated_on"]>"2020-12-31 23:59:59")&(employees["terminated_on"]<"2021-12-31 23:59:59")]

In [67]:
employees_terminated_2020.groupby('born_on',as_index=False).size()

   born_on  size
0     1944     2
1     1945     1
2     1946     2
3     1947     1
4     1948     4
5     1949     5
6     1950     6
7     1951     7
8     1952     9
9     1953    12
10    1954     9
11    1955    29
12    1956    22
13    1957    28
14    1958    28
15    1959    35
16    1960    39
17    1961    33
18    1962    36
19    1963    47
20    1964    59
21    1965    47
22    1966    54
23    1967    61
24    1968    60
25    1969    81
26    1970   184
27    1971    89
28    1972    65
29    1973    84
30    1974   104
31    1975    99
32    1976   103
33    1977   124
34    1978   121
35    1979   128
36    1980   158
37    1981   176
38    1982   202
39    1983   194
40    1984   197
41    1985   218
42    1986   276
43    1987   311
44    1988   303
45    1989   335
46    1990   406
47    1991   394
48    1992   412
49    1993   437
50    1994   445
51    1995   429
52    1996   382
53    1997   333
54    1998   327
55    1999   297
56    2000   216
57    2001   122
58    2002    49
59    2003    16
60    2004    13
61    2005     5
62    2006     1
63    2010     2
64    2012     1
65    2014     1

In [68]:
employees_terminated_gender_2020 = employees_terminated_2020.groupby(['born_on','legal_sex'],as_index=False).size()
employees_terminated_gender_2020.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P
born_on
1944         NaN    2.0   NaN
1947         NaN    1.0   NaN
1948         NaN    4.0   NaN
1949         1.0    4.0   NaN
1950         NaN    5.0   1.0
1951         3.0    4.0   NaN
1952         2.0    7.0   NaN
1953         5.0    6.0   1.0
1954         3.0    6.0   NaN
1955        11.0   16.0   1.0
1956         6.0   13.0   1.0
1957        11.0   15.0   2.0
1958         5.0   20.0   1.0
1959        12.0   22.0   NaN
1960        13.0   22.0   1.0
1961        11.0   19.0   1.0
1962        15.0   19.0   1.0
1963        20.0   24.0   1.0
1964        23.0   30.0   2.0
1965        19.0   25.0   1.0
1966        21.0   28.0   NaN
1967        21.0   34.0   2.0
1968        24.0   31.0   1.0
1969        38.0   33.0   6.0
1970        50.0   55.0  77.0
1971        30.0   51.0   3.0
1972        23.0   37.0   3.0
1973        41.0   41.0   1.0
1974        42.0   51.0   6.0
1975        38.0   50.0   4.0
1976        42.0   54.0   NaN
1977        42.0   68.0   6.0
1978        51.0   55.0   5.0
1979        45.0   68.0  10.0
1980        63.0   83.0   5.0
1981        79.0   83.0   9.0
1982        81.0  100.0   8.0
1983        78.0   97.0   8.0
1984        87.0   97.0   4.0
1985        87.0  110.0   8.0
1986       100.0  151.0   7.0
1987       113.0  166.0  13.0
1988       120.0  152.0  15.0
1989       134.0  168.0  12.0
1990       160.0  195.0  26.0
1991       168.0  191.0   9.0
1992       194.0  182.0  10.0
1993       191.0  209.0  14.0
1994       206.0  197.0  14.0
1995       194.0  203.0  12.0
1996       196.0  150.0  11.0
1997       175.0  140.0   9.0
1998       166.0  132.0  15.0
1999       125.0  149.0  13.0
2000        85.0  110.0  12.0
2001        54.0   62.0   4.0
2002        24.0   21.0   NaN
2003         7.0    7.0   1.0
2004         8.0    3.0   NaN
2005         3.0    2.0   NaN
2006         1.0    NaN   NaN
2010         NaN    2.0   NaN
2012         NaN    1.0   NaN
2014         NaN    1.0   NaN

In [69]:
employees_terminated_2021.groupby('born_on',as_index=False).size()

   born_on  size
0     1945     3
1     1946     2
2     1947     5
3     1948     3
4     1949     4
5     1950     6
6     1951    12
7     1952    18
8     1953    16
9     1954    22
10    1955    18
11    1956    30
12    1957    37
13    1958    32
14    1959    39
15    1960    43
16    1961    41
17    1962    44
18    1963    61
19    1964    51
20    1965    60
21    1966    58
22    1967    72
23    1968    82
24    1969    76
25    1970   104
26    1971    94
27    1972    99
28    1973   109
29    1974   117
30    1975    93
31    1976   113
32    1977   144
33    1978   146
34    1979   154
35    1980   157
36    1981   195
37    1982   207
38    1983   213
39    1984   256
40    1985   271
41    1986   289
42    1987   327
43    1988   397
44    1989   394
45    1990   487
46    1991   513
47    1992   513
48    1993   498
49    1994   520
50    1995   491
51    1996   502
52    1997   483
53    1998   429
54    1999   409
55    2000   360
56    2001   240
57    2002   125
58    2003    59
59    2004    37
60    2005    18
61    2006     4
62    2007     2
63    2009     1
64    2010     7
65    2011     4
66    2012     5
67    2013    30
68    2015     3

In [70]:
employees_terminated_gender_2021 = employees_terminated_2021.groupby(['born_on','legal_sex'],as_index=False).size()
employees_terminated_gender_2021.pivot(index = "born_on", columns = "legal_sex", values = "size")

legal_sex      F      M     P    X
born_on
1945         NaN    3.0   NaN  NaN
1946         1.0    NaN   NaN  NaN
1947         2.0    2.0   NaN  NaN
1948         3.0    NaN   NaN  NaN
1949         2.0    2.0   NaN  NaN
1950         2.0    4.0   NaN  NaN
1951         5.0    5.0   NaN  NaN
1952         5.0    5.0   1.0  NaN
1953         1.0   15.0   NaN  NaN
1954        10.0    9.0   NaN  NaN
1955         6.0   10.0   NaN  NaN
1956        16.0    8.0   2.0  NaN
1957        14.0   19.0   NaN  NaN
1958        11.0   20.0   NaN  NaN
1959        12.0   26.0   1.0  NaN
1960        24.0   17.0   NaN  NaN
1961        17.0   20.0   3.0  NaN
1962        14.0   26.0   1.0  NaN
1963        25.0   31.0   1.0  NaN
1964        22.0   26.0   1.0  NaN
1965        28.0   31.0   NaN  NaN
1966        20.0   36.0   1.0  NaN
1967        28.0   37.0   1.0  NaN
1968        39.0   35.0   2.0  NaN
1969        29.0   42.0   2.0  NaN
1970        34.0   52.0   3.0  NaN
1971        37.0   45.0   1.0  NaN
1972        37.0   56.0   NaN  NaN
1973        42.0   61.0   2.0  NaN
1974        46.0   62.0   2.0  NaN
1975        36.0   51.0   NaN  NaN
1976        40.0   61.0   2.0  NaN
1977        51.0   81.0   2.0  NaN
1978        52.0   82.0   1.0  1.0
1979        59.0   84.0   1.0  NaN
1980        51.0   82.0   3.0  NaN
1981        67.0  111.0   5.0  NaN
1982        86.0   98.0   5.0  NaN
1983        75.0  117.0   2.0  NaN
1984       104.0  116.0   4.0  NaN
1985       111.0  119.0   6.0  NaN
1986       102.0  139.0   4.0  1.0
1987       121.0  161.0   7.0  NaN
1988       139.0  197.0   3.0  NaN
1989       166.0  169.0   7.0  NaN
1990       184.0  238.0   5.0  NaN
1991       196.0  249.0   6.0  NaN
1992       203.0  225.0  11.0  NaN
1993       198.0  223.0   9.0  1.0
1994       198.0  257.0   6.0  1.0
1995       213.0  222.0   6.0  NaN
1996       205.0  245.0   6.0  1.0
1997       197.0  224.0  12.0  NaN
1998       157.0  226.0   7.0  NaN
1999       156.0  211.0   6.0  NaN
2000       135.0  193.0   6.0  NaN
2001        91.0  125.0   5.0  NaN
2002        52.0   52.0   1.0  NaN
2003        20.0   35.0   NaN  NaN
2004        21.0   12.0   2.0  NaN
2005         9.0    9.0   NaN  NaN
2006         2.0    2.0   NaN  NaN
2007         2.0    NaN   NaN  NaN
2009         NaN    1.0   NaN  NaN
2010         2.0    4.0   NaN  NaN
2011         2.0    2.0   NaN  NaN
2012         2.0    2.0   NaN  NaN
2013         NaN   30.0   NaN  NaN
2015         NaN    1.0   NaN  NaN

### tenure by generation

In [77]:
employees_tenure = employees[(employees['deleted_at'].isna())&(employees['hired_at']<np.datetime64('today'))]

In [79]:
employees_tenure.loc[employees_tenure['terminated_on'].isna()==False, 'tenure'] = employees_tenure['terminated_on']-employees_tenure['hired_at']

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [80]:
employees_tenure.loc[employees_tenure['terminated_on'].isna()==True, 'tenure'] = np.datetime64('today')-employees_tenure['hired_at']

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [81]:
employees_tenure

,id,company_id,born_on,hired_at,terminated_on,deleted_at,legal_sex,c_deleted,tenure
0,190,8,1990,2017-03-06 00:00:00,2019-11-22 00:00:00,NaT,F,NaT,991 days 00:00:00
1,198,2,1990,2018-05-28 00:00:00,NaT,NaT,M,NaT,1176 days 00:00:00
2,200,2,1993,2018-05-29 00:00:00,NaT,NaT,M,NaT,1175 days 00:00:00
3,201,9,1977,2014-11-24 00:00:00,2020-07-14 00:00:00,NaT,F,NaT,2059 days 00:00:00
4,204,8,1992,2016-07-28 00:00:00,NaT,NaT,M,NaT,1845 days 00:00:00
...,...,...,...,...,...,...,...,...,...
72995,95520,2568,1986,2019-10-01 04:00:00,NaT,NaT,M,NaT,684 days 20:00:00
72997,95522,2440,1988,2021-07-26 00:00:00,NaT,NaT,None,NaT,21 days 00:00:00
72998,95523,2440,1996,2021-07-26 00:00:00,NaT,NaT,None,NaT,21 days 00:00:00
73001,95561,2586,1954,2019-09-01 06:00:00,2021-08-16 23:09:16,NaT,None,NaT,715 days 17:09:16
73002,95562,2586,1995,2020-07-14 06:00:00,2021-08-16 23:12:41,NaT,None,NaT,398 days 17:12:41

In [84]:
employees_tenure = employees_tenure.astype({"born_on":int})
employees_tenure.loc[(employees_tenure['born_on']<1965),'generation'] = "Baby Boomer"
employees_tenure.loc[(employees_tenure['born_on']<1980)&(employees_tenure['born_on']>1964),'generation'] = "Gen X"
employees_tenure.loc[(employees_tenure['born_on']<1995)&(employees_tenure['born_on']>1979),'generation'] = "Millennial"
employees_tenure.loc[(employees_tenure['born_on']<2015)&(employees_tenure['born_on']>1994),'generation'] = "Gen Z"

In [90]:
employees_tenure['tenure'] = employees_tenure['tenure'].values.astype(np.int64)

In [92]:
means=employees_tenure.groupby('generation',as_index=False)['tenure'].mean()

In [94]:
means['tenure'] = pd.to_timedelta(means['tenure'])

In [95]:
means

    generation                       tenure
0  Baby Boomer 2779 days 08:28:12.749072544
1        Gen X 1540 days 12:10:44.004313312
2        Gen Z  396 days 12:38:29.335877716
3   Millennial  847 days 15:00:39.334538704