# People Report Data

In [3]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
#format: [DB_FLAVOR]+[DB_PYTHON_LIBRARY]://[USERNAME]:[PASSWORD]@[DB_HOST]:[PORT]/[DB_NAME]
engine = create_engine('mysql+mysqlconnector://cnguyen:Imq2MPSzsF5wdd8fBGA@hr-api-production-replica.cdq4e1fn5i6m.ca-central-1.rds.amazonaws.com/humi')

## Job Supply

### Total number of roles posted per month in 2020 and 2021

In [4]:
Total_post_query = "select count(id), `created_at` \
from ats_jobs \
where created_at > '2019-12-31 23:59:59' \
group by YEAR (created_at), MONTH(created_at)"
pd.read_sql_query(Total_post_query, con=engine)

    count(id)          created_at
0         151 2020-01-02 06:30:47
1         113 2020-02-01 03:26:52
2          81 2020-03-02 01:09:15
3          85 2020-04-01 17:14:48
4          90 2020-05-01 18:17:16
5         106 2020-06-01 14:15:52
6         210 2020-07-02 13:00:14
7         137 2020-08-01 03:15:12
8         190 2020-09-01 17:34:20
9         198 2020-10-01 01:20:44
10        231 2020-11-02 15:34:41
11        284 2020-12-01 02:17:00
12        280 2021-01-01 20:57:00
13        376 2021-02-01 13:22:40
14        397 2021-03-01 16:40:05
15        477 2021-04-01 00:03:47
16        562 2021-05-01 20:18:21
17        536 2021-06-01 05:06:23
18        341 2021-07-01 20:47:18

In [ ]:
## company dynamics: comapany use recruiting module

In [280]:
module_query = "select company_id, module_id from company_module where module_id = 5"
module = pd.read_sql_query (module_query, con=engine)

In [281]:
Total_company_query = "select id, created_at,locked_at,deleted_at \
from `companies` where deleted_at is null"
companies = pd.read_sql_query(Total_company_query, con=engine)

In [282]:
companies = companies.astype({'locked_at':'datetime64'})

In [283]:
companies['recruiting company'] = companies['id'].isin(module['company_id'])
companies = companies[companies['recruiting company'] == True]

In [285]:
companies

        id          created_at  locked_at deleted_at  recruiting company
0        2 2018-05-14 15:24:27        NaT       None                True
3        8 2018-05-28 19:55:32        NaT       None                True
4        9 2018-05-30 14:24:17        NaT       None                True
5       10 2018-05-30 19:44:21 2020-03-06       None                True
6       11 2018-05-31 19:38:00        NaT       None                True
...    ...                 ...        ...        ...                 ...
1870  2615 2021-07-16 20:09:31        NaT       None                True
1877  2622 2021-07-22 14:28:45        NaT       None                True
1879  2624 2021-07-22 14:41:37        NaT       None                True
1881  2627 2021-07-22 17:40:29        NaT       None                True
1885  2631 2021-07-23 19:39:36        NaT       None                True

[937 rows x 5 columns]

In [286]:
companies_2019 = companies[companies['created_at']<'2019-12-31 23:59:59']

In [287]:
companies_2019.loc[((companies_2019['locked_at'].isna())|
                   (companies_2019['locked_at']>'2019-12-31')),"live data"] = True
companies_2019 = companies_2019[companies_2019['live data'] == True]
companies_2019

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,id,created_at,locked_at,deleted_at,recruiting company,live data
0,2,2018-05-14 15:24:27,NaT,None,True,True
3,8,2018-05-28 19:55:32,NaT,None,True,True
4,9,2018-05-30 14:24:17,NaT,None,True,True
5,10,2018-05-30 19:44:21,2020-03-06,None,True,True
6,11,2018-05-31 19:38:00,NaT,None,True,True
...,...,...,...,...,...,...
576,1108,2019-12-18 19:35:08,NaT,None,True,True
578,1111,2019-12-19 20:42:39,NaT,None,True,True
580,1113,2019-12-20 15:29:25,2020-11-24,None,True,True
582,1116,2019-12-23 14:47:11,2021-05-17,None,True,True
584,1118,2019-12-30 17:26:23,2021-01-26,None,True,True

In [288]:
company_created = companies[companies['created_at']>'2019-12-31 23:59:59']
company_created = company_created.astype({'created_at': str})
company_created.created_at = company_created.created_at.str[0:7]
company_created.groupby('created_at', as_index=False).size()

   created_at  size
0     2020-01    33
1     2020-02    16
2     2020-03     9
3     2020-04    14
4     2020-05    19
5     2020-06     9
6     2020-07    12
7     2020-08    11
8     2020-09    18
9     2020-10    32
10    2020-11    48
11    2020-12    31
12    2021-01    27
13    2021-02    27
14    2021-03    28
15    2021-04    21
16    2021-05    29
17    2021-06    23
18    2021-07    13

In [289]:
company_churned = companies[companies['locked_at']>'2019-12-31 23:59:59']
company_churned = company_churned.astype({'locked_at': str})
company_churned.locked_at = company_churned.locked_at.str[0:7]
company_churned.groupby('locked_at', as_index=False).size()

   locked_at  size
0    2020-01     8
1    2020-02     7
2    2020-03     4
3    2020-04     6
4    2020-05     2
5    2020-06     4
6    2020-07     5
7    2020-08     4
8    2020-09     5
9    2020-10     3
10   2020-11    10
11   2020-12     4
12   2021-01     6
13   2021-02     6
14   2021-03     7
15   2021-04     5
16   2021-05    10
17   2021-06     4
18   2021-07     3

### Number of roles filled per month in 2021

In [4]:
filed_query = "select count(id), filled_at from ats_jobs where filled_at > '2020-12-31 23:59:59' \
group by Month(filled_at) order by filled_at"
pd.read_sql_query(filed_query, con = engine)

Empty DataFrame
Columns: [count(id), filled_at]
Index: []

### Breakdown of departments/teams that saw the largest growth

In [938]:
job_post_query = "select title, description, category,created_at from ats_jobs where paused_at is null and \
created_at > '2018-12-31 23:59:59' and title not like '%test%'"

In [939]:
job_post = pd.read_sql_query(job_post_query, con=engine)

In [940]:
job_post = job_post.astype({'created_at':str})

In [941]:
job_post.created_at = job_post.created_at.str[0:4]

In [942]:
job_post.groupby('created_at', as_index=False).size()

  created_at  size
0       2019  1194
1       2020  1753
2       2021  2332

In [943]:
job_post_df = job_post.copy()

In [944]:
job_post_df.loc[(job_post_df['title'].str.lower().str.contains('sale|market|marketing')==True)&
             (job_post_df['title'].str.lower().str.contains('engineer|designer')==False), 'sales and marketing'] = True

In [945]:
sales_marketing = job_post_df.loc[job_post_df['sales and marketing']==True]

In [946]:
sales_marketing.groupby('created_at',as_index=False).size()

  created_at  size
0       2019   108
1       2020   158
2       2021   168

In [947]:
job_post_df = job_post_df.loc[job_post_df['sales and marketing'].isna()].drop(['sales and marketing'],axis = 1)

In [948]:
job_post_df.loc[(job_post_df['title'].str.lower().str.contains('developer|software|web|stack|devops|programmer')==True)|
                (job_post_df['title'].str.contains(r'(^IT)')==True)|(job_post_df['category'].str.contains(r'(^IT)')==True)|
                (job_post_df['category'].str.contains('information technology|developer'))
                , 'IT developer'] = True

/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)
/Users/irisli/opt/anaconda3/lib/python3.8/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [949]:
IT_developer = job_post_df.loc[job_post_df['IT developer']==True]

In [950]:
IT_developer.groupby('created_at',as_index=False).size()

  created_at  size
0       2019   152
1       2020   225
2       2021   275

In [951]:
job_post_df = job_post_df.loc[job_post_df['IT developer'].isna()].drop(['IT developer'],axis = 1)

In [952]:
job_post_df.loc[(job_post_df['title'].str.lower().str.contains('design')==True), 'Design'] = True

In [953]:
design = job_post_df.loc[job_post_df['Design']==True]

In [954]:
design.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    50
1       2020    50
2       2021   100

In [955]:
job_post_df = job_post_df.loc[job_post_df['Design'].isna()].drop(['Design'],axis = 1)

In [956]:
job_post_df.loc[(job_post_df['title'].str.lower().str.contains('consultant')==True), 'consulting'] = True

In [957]:
consulting = job_post_df.loc[job_post_df['consulting']==True]
consulting.groupby('created_at',as_index=False).size()

  created_at  size
0       2019     5
1       2020    10
2       2021    11

In [958]:
job_post_df = job_post_df.loc[job_post_df['consulting'].isna()].drop(['consulting'],axis = 1)

In [959]:
job_post_df.loc[(job_post_df['title'].str.lower().str.contains('product|project')==True)&
                (job_post_df['title'].str.lower().str.contains('production|data|development|chief')==False), 'product/project management'] = True

In [960]:
product = job_post_df.loc[job_post_df['product/project management']==True]
product.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    41
1       2020    61
2       2021    85

In [961]:
job_post_df = job_post_df.loc[job_post_df['product/project management'].isna()].drop(['product/project management'],axis = 1)

In [962]:
job_post_df.loc[(job_post_df['title'].str.lower().str.contains('production')==True)|
                (job_post_df['category'].str.lower().str.contains('manufact|production')==True), 'p&m'] = True

In [963]:
production_manufacturing = job_post_df.loc[job_post_df['p&m']==True]
production_manufacturing.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    39
1       2020    45
2       2021    51

In [964]:
job_post_df = job_post_df.loc[job_post_df['p&m'].isna()].drop(['p&m'],axis = 1)

In [965]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('finance|accounting|cpa|financial')==True)|
                job_post_df['title'].str.lower().str.contains('accounting|finance|bookkeeper'),'finance'] = True
finance_accounting = job_post_df.loc[job_post_df['finance']==True]
finance_accounting.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    67
1       2020    63
2       2021    91

In [966]:
job_post_df = job_post_df.loc[job_post_df['finance'].isna()].drop(['finance'],axis = 1)

In [967]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('hr|recru|people|human resources')==True)|
                (job_post_df['title'].str.lower().str.contains('hr|human resources|people')==True),'hr'] = True
hr_recuriting = job_post_df.loc[job_post_df['hr']==True]
hr_recuriting.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    34
1       2020    34
2       2021    63

In [968]:
job_post_df = job_post_df.loc[job_post_df['hr'].isna()].drop(['hr'],axis = 1)

In [969]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('admin')==True)|
                (job_post_df['title'].str.lower().str.contains('admin')),'administration'] = True
administration = job_post_df.loc[job_post_df['administration']==True]
administration.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    51
1       2020    62
2       2021    76

In [970]:
job_post_df = job_post_df.loc[job_post_df['administration'].isna()].drop(['administration'],axis = 1)

In [971]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('data')==True)|
                (job_post_df['title'].str.lower().str.contains('data')),'data'] = True
data_related = job_post_df.loc[job_post_df['data']==True]
data_related.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    26
1       2020    13
2       2021    40

In [972]:
job_post_df = job_post_df.loc[job_post_df['data'].isna()].drop(['data'],axis = 1)

In [973]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('operat')==True)|
                (job_post_df['title'].str.lower().str.contains('operat')),'operation'] = True
operation = job_post_df.loc[job_post_df['operation']==True]
operation.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    78
1       2020    94
2       2021    93

In [974]:
job_post_df = job_post_df.loc[job_post_df['operation'].isna()].drop(['operation'],axis = 1)

In [975]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('educat')==True)|
                (job_post_df['title'].str.lower().str.contains('educat')),'education'] = True
education = job_post_df.loc[job_post_df['education']==True]
education.groupby('created_at',as_index=False).size()

  created_at  size
0       2019     5
1       2020    11
2       2021    81

In [976]:
job_post_df = job_post_df.loc[job_post_df['education'].isna()].drop(['education'],axis = 1)

In [977]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('customer|client')==True)|
                (job_post_df['title'].str.lower().str.contains('customer|client')),'client success'] = True
client_success = job_post_df.loc[job_post_df['client success']==True]
client_success.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    59
1       2020    66
2       2021    73

In [978]:
job_post_df = job_post_df.loc[job_post_df['client success'].isna()].drop(['client success'],axis = 1)

In [979]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('law|legal')==True)|
                (job_post_df['title'].str.lower().str.contains('law|legal')),'law'] = True
law = job_post_df.loc[job_post_df['law']==True]
law.groupby('created_at',as_index=False).size()

  created_at  size
0       2019     8
1       2020     9
2       2021     9

In [980]:
job_post_df = job_post_df.loc[job_post_df['law'].isna()].drop(['law'],axis = 1)

In [981]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('engineer')==True)|
                (job_post_df['title'].str.lower().str.contains('engineer')),'engineer'] = True
engineer = job_post_df.loc[job_post_df['engineer']==True]
engineer.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    67
1       2020    71
2       2021    59

In [982]:
job_post_df = job_post_df.loc[job_post_df['engineer'].isna()].drop(['engineer'],axis = 1)

In [983]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('retail')==True)|
                (job_post_df['title'].str.lower().str.contains('retail')),'retail'] = True
retail_related = job_post_df.loc[job_post_df['retail']==True]
retail_related.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    28
1       2020     8
2       2021    15

In [984]:
job_post_df = job_post_df.loc[job_post_df['retail'].isna()].drop(['retail'],axis = 1)

In [985]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('sale|market')==True)|
                (job_post_df['title'].str.lower().str.contains('sale|market')),'sales_marketing'] = True
sales_marketing_2 = job_post_df.loc[job_post_df['sales_marketing']==True]
sales_marketing_2.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    70
1       2020   115
2       2021    98

In [986]:
job_post_df = job_post_df.loc[job_post_df['sales_marketing'].isna()].drop(['sales_marketing'],axis = 1)

In [987]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('construction')==True)|
                (job_post_df['title'].str.lower().str.contains('construction')),'construction'] = True
construction = job_post_df.loc[job_post_df['construction']==True]
construction.groupby('created_at',as_index=False).size()

  created_at  size
0       2019     8
1       2020     6
2       2021    21

In [988]:
job_post_df = job_post_df.loc[job_post_df['construction'].isna()].drop(['construction'],axis = 1)

In [989]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('repair|maintenance')==True)|
                (job_post_df['title'].str.lower().str.contains('repair|maintenance')),'repair'] = True
maintenance_repairs = job_post_df.loc[job_post_df['repair']==True]
maintenance_repairs.groupby('created_at',as_index=False).size()

  created_at  size
0       2019     8
1       2020    20
2       2021    32

In [990]:
job_post_df = job_post_df.loc[job_post_df['repair'].isna()].drop(['repair'],axis = 1)

In [991]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('cook|server|restaurant|chef|food')==True)|
                (job_post_df['title'].str.lower().str.contains('cook|server|chef')),'restaurant'] = True
restaurant = job_post_df.loc[job_post_df['restaurant']==True]
restaurant.groupby('created_at',as_index=False).size()

  created_at  size
0       2019    16
1       2020     5
2       2021    94

In [992]:
job_post_df = job_post_df.loc[job_post_df['restaurant'].isna()].drop(['restaurant'],axis = 1)

In [993]:
job_post_df.loc[(job_post_df['category'].str.lower().str.contains('supply chain')==True)|
                (job_post_df['title'].str.lower().str.contains('supply chain')),'supply chain'] = True
supply_chain = job_post_df.loc[job_post_df['supply chain']==True]
supply_chain.groupby('created_at',as_index=False).size()

  created_at  size
0       2019     5
1       2020    11
2       2021    19

In [994]:
job_post_df = job_post_df.loc[job_post_df['supply chain'].isna()].drop(['supply chain'],axis = 1)

In [995]:
job_post_df.groupby('created_at', as_index=False).size()

  created_at  size
0       2019   269
1       2020   616
2       2021   778